[2014-10-02 14:31] gavinballard opened #1 "data-cart-add API should support sending a quantity, and potentially line item properties as well."
Could be done simply through the use of a `data-cart-quantity` and `data-cart-*` attributes.

[2014-10-02 14:32] gavinballard opened #2 "New data-cart-update API."
Allow the updating of existing line items with a `data-cart-update` attribute.

[2014-10-02 14:36] gavinballard opened #3 "Build in a pluralisation filter."

[2014-10-02 22:33] gavinballard opened #4 "Nicer syntax highlighting in docs."
Using Prism or equivalent highlighter (something compatible with the Markdown generate `grunt-terraform` uses).

[2014-10-09 18:28] gavinballard opened #5 "Support for more events."
Currently, only `cart.requestStarted` and `cart.requestComplete` are supported. Want to make this a little better, like `cart.itemAdded`, `cart.itemUpdated`, `cart.attributeUpdated` et cetera.

[2014-10-09 20:46] gavinballard opened #6 "CartJS.updateItem quantity issue"
If a `quantity` isn't provided to `updateItem` (it's `undefined`), I guess the quantity should stay as is.

Currently, it's set to `1`.

[2014-10-10 23:24] gavinballard opened #7 "Allow data-cart-submit to be used to update existing items"
Look at existing `updates[]` structure and use that.

[2014-10-10 23:38] #2 closed, assigned to nobody

[2014-10-11 00:01] #6 closed, assigned to nobody

[2014-10-11 00:20] gavinballard opened #8 "Add some simple render bindings for the Data API."

[2014-10-11 00:23] gavinballard opened #9 "Document `money_format` and `money_with_currency_format` settings."

[2014-10-11 00:32] #9 closed, assigned to nobody

[2014-10-11 09:18] gavinballard opened #10 "Add a simple `debug` mode that prints out information as we go."

[2014-10-11 11:02] gavinballard opened #11 "Add `data-cart-clear` Data API."

[2014-10-11 11:27] #8 closed, assigned to nobody

[2014-10-11 11:27] #11 closed, assigned to nobody

[2014-10-11 16:48] #4 closed, assigned to nobody

[2014-11-10 15:53] gavinballard opened #12 "Add note about using option_selector.js script for money formatting."

[2015-01-24 13:16] oliwillis opened #13 "updateItemByID using Change.js"
The Shopify API allows addition of an ID via Update.js, we were writing the following for the API before we discovered Cartjs (which is great, by the way!).
The Update function here uses Change.js (which will not add a new variant to cart, only modify a variant that is already in the cart) doesn't match that of the Shopify Update.js, so for the sake of clarity, I would suggest adjusting to use Upd

[2015-01-24 14:49] gavinballard commented on #13
Hey @oliwillis, thanks so much for taking the time to report this issue.

What you're saying makes a lot of sense, and I can't really see any issue with changing the `updateItemById` call to make use of the `/update.js` endpoint instead of the `/change.js` endpoint. I'll test out the change and put it through.

It also looks like your use case would be benefited by two planned features for CartJS,

[2015-01-24 15:44] oliwillis commented on #13
Thanks that sounds great. Happy to assist in any beta testing if it helps you out.

[2015-01-24 18:35] gavinballard commented on #13
Thanks @oliwillis. I just made that quick change and rebuilt the library on a branch called `changejs` [here](https://github.com/discolabs/cartjs/tree/changejs).

It would be great if you could try out your use case with the appropriate `dist` file you're using on your project and let me know if it all works okay. If so I'll do some further testing and then merge in to master.

Thanks again!

[2015-01-24 22:23] oliwillis commented on #13
Hi @gavinballard, thanks for the update but from what I can see from a brief test in dev (using 'simplified' code as posted above), it is not updating quantities to 0 or 1 at all...
The original code is also not working with the new `cart.js ``dist` - just adds 1 quantity on each click of the given variant and doesn't remove any. Hope that helps!

[2015-01-25 11:54] #13 closed

[2015-01-25 12:03] gavinballard commented on #13
Hey @oliwillis, sorry about the dud code. Serves me right for not reading through stuff more thoroughly.

I've reverted those original changes back to the `/change.js` endpoint, as looking at the docs that's more appropriate when you're dealing with a single line item.

However, I've now added a new API method, `updateItemQuantitiesById`, which allows you to set the desired quantities of a number

[2015-01-25 21:15] oliwillis commented on #13
Hi @gavinballard , tested and working well - rolled out to live site.
Thanks for your attention to this!

[2015-01-25 21:48] gavinballard commented on #13
Great, thanks for the feedback! :+1:

[2015-02-04 14:07] gavinballard opened #15 "Allow the specification of an error handling callback."
Useful for when trying to add an item with insufficient stock, for example.

[2015-02-25 17:17] gavinballard opened #16 "Consider adding support for increment/decrement to Data API."
This would probably be a pretty common use case. API would probably use something like `data-cart-adjust`.

[2015-03-12 21:45] stewartknapman commented on #5
It would be awesome if the item that was just added to the cart was included in the params given to the event handler.

[2015-03-13 07:27] gavinballard commented on #5
Because it's possible that multiple changes could occur in a single "request" (because `cart.requestStarted` triggers at the start of queue processing, and `cart.requestComplete` triggers at the end), I wonder if it would make sense to simply add a `cart.updated` event that passed a list of changes made to the cart as a parameter. Then you could do something like:

[code]

In the example above, `c

[2015-03-13 07:48] stewartknapman commented on #5
@gavinballard Im all for the simplest way first. I think that individual callbacks on core methods like addItem would do the trick at least for providing useful feedback to the user on the product page.

In saying that I havn't got to updating on the cart page yet with this new theme. It will be early next week. But I imagine as a user will only be updating one item at a time this type of callback

[2015-03-13 10:35] gavinballard commented on #5
The latter part of my suggestion has just been pushed in v0.2.4!

[2015-03-13 10:35] #15 closed

[2015-04-02 01:58] gmlnchv opened #17 "CartJS.Data.toggle is using undefined function on un-check"
Looks like when a checkbox with `data-cart-toggle` is being un-checked, the function called is `CartJS.Core.removeAll(id)` which doesn't exist. Should it be `CartJS.Core.removeItemById(id)` instead? https://github.com/discolabs/cartjs/blob/master/dist/cart.js#L435

[2015-04-02 07:55] #17 closed

[2015-04-02 07:56] gavinballard commented on #17
Thanks for the report @gmlnchv! You were absolutely right. I've pushed a fix for this in release v0.2.6, which is now available on npm and bower.

Cheers!

[2015-04-02 08:26] gmlnchv commented on #17
Nice one, @gavinballard, thank you!

[2015-05-18 14:44] #10 closed

[2015-05-28 13:08] gavinballard opened #18 "Add some improved documentation around cart page possibilities"
For example, using `rv-href` to link to products and the `productImageSize` filter.

[2015-06-16 19:30] gpalin opened #19 "Money Formatting not working"
I cannot seem to get the money formatting to work with DOM binding. I copied the code exactly as it appears in the demo and cannot get a formatted money string. It does render the correct money value but with no decimals or formatting.
[code]

[2015-06-16 20:01] gpalin commented on #19
Figured this out!

You need to include the shopify option_selection.js before you call CartJS.init()

I had this file included in the product.liquid template. Once I moved it out to the theme.liquid file, the money formatting kicked in.
[code]

[2015-06-16 22:40] gavinballard commented on #19
Hey @gpalin! Thanks for taking the time to report this issue. It's actually been logged as a problem with the documentation [here](https://github.com/discolabs/cartjs/issues/12), but I've been too busy to fix it up.

I'll try to get this one out of the way to avoid causing this problem for others :).

[2015-06-17 00:24] dhstack opened #20 "Using cartjs on a custom site?"
First off, cartjs looks incredibly helpful for creating ajax carts with Shopify. Keep up the great work!

I'd like to use it on my custom bootstrap site, but am not sure how to initialize it properly.

In the cartjs documentation (which is great by the way) it says under [configuration](http://cartjs.org/pages/guide#core-api-configuration) to call `CartJS.init()` and pass a [liquid cart object](ht

[2015-06-17 09:36] gavinballard commented on #20
Hi @dhstack! Thanks for the kind words :).

Am I right in understanding that you're trying to use Cart.js to add to a Shopify cart from a site that's not hosted on Shopify? If so, that's not really a use case Cart.js supports, but I guess you *may* be able to initialise Cart.js with a cart-like object. Here's what an empty cart looks like when rendered by Liquid's `json` filter:

[code]

Does that

[2015-06-18 04:09] dhstack commented on #20
Yes, that is correct. Trying to use Cart.js on a site not hosted by Shopify. Still working on it, but I had a thought...

What if you made passing a `cart` object to `CartJS.init()` optional (default value of `null`)?

Then simply have a basic conditional check within `CartJS.init()` to check if there was any object passed. If it is `null` (default), then cartjs automatically creates the default c

[2015-06-18 05:49] dhstack commented on #20
So it doesn't look like this is going to work. Not because of a limitation with CartJS, but because Shopify doesn't support [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) or [JSONP](http://json-jsonp-tutorial.craic.com/index.html) for [cross-site JavaScript requests](https://en.wikipedia.org/wiki/Same-origin_policy#Cross-Origin_Resource_Sharing).

The exact error I a

[2015-06-18 06:34] gavinballard commented on #20
Ah, that CORS restriction is limiting. Thanks for digging in to this. I take your idea/point about allowing the cart to be optionally `null`, but I think that the 99% use case is going to be on a Shopify-hosted site and I worry that adding too many options makes things a bit confusing. There would also have to be checks added across the library for things that were/weren't supported off-site, whic

[2015-06-18 06:34] #20 closed

[2015-06-18 06:42] dhstack commented on #20
Yeah, at this point adding remote site support doesn't seem like it will work with CartJS (which is too bad since it looks so easy to use). Perhaps if/when Shopify adds CORS this issue can be revisited.

Until then JSONP can be used for [displaying cart contents](http://code.tiffbits.com/shopify-displaying-cart-items-on-remote-website-with-ajax-json/), but not updating them as JSONP supports only

[2015-06-22 20:59] bakura10 opened #21 "Currency conversion not working"
Hi :),

First of all thank you for the library, it looks nice!

I've been trying it and I'm having an issue with the currency converison that Shopify recommends (https://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-show-multiple-currencies).

It works perfectly for any span with class money, but for things rendered by CartJS those are not

[2015-06-22 22:23] gavinballard commented on #21
Hey @bakura10!

Thanks for trying Cart.js out :).

I haven't actually played around with using Cart.js in conjunction with the dynamic currency approach Shopify recommends, but they should be compatible - probably just a matter of making sure they don't override each others' work.

I'll try to have a look at this when I get the chance. In the meantime, you could look into:

1. Trying to trigger th

[2015-06-22 22:39] bakura10 commented on #21
Hi !

The first suggestion seems ibteresting. Is there a callback or an event triggered once CartJs has modified the DOM ?

Envoyé de mon iPhone

[2015-06-22 22:46] #12 closed

[2015-06-22 22:46] #19 closed

[2015-06-22 22:51] gavinballard commented on #21
There's no specific event that Cart.js triggers when the DOM is updated (as I don't believe that Rivets.js makes such an event available either), but listening for the `cart.requestComplete` event (see [here](http://cartjs.org/pages/guide#events)) and triggering the conversion update then may do the trick.

The second option is probably preferable in the long run so I'll definitely look in to it s

[2015-06-23 08:00] bakura10 commented on #21
Hi,

Thanks for the answer. I've tried this but unfortunately it does not work:

[code]

I've also tried to add a timeout, just in case Rivets.js had some kind of "coalesce" that would do all the DOM changes at the end of a run loop:

[code]

But unfortunately same result, it's unfortunately not working :(.

Thanks for taking time on this!

[2015-06-23 08:33] bakura10 commented on #5
That would be awesome to have more events. I need to do specific changes based on specific event but for now the requestCompleted is way too generic.

[2015-06-23 08:38] gavinballard commented on #5
@bakura10, keen to hear your use cases so that I can make sure this feature is the most useful it can be!

[2015-06-23 08:41] bakura10 commented on #5
For instance, when I click on a cross to remove an element, I want to trigger a small animation. Actually I realize that this may not work as I want, because I suspect that elements are removed by Rivets. How could I implement that?

[2015-06-23 09:27] gavinballard commented on #5
@bakura10 For this specific use case, it sounds like you might want to have a custom event handler on your cross element to capture the click, perform the animation, and *then* use Cart.js to remove the item from the cart.

[2015-06-23 09:27] gavinballard commented on #5
Adding a suggested event here: out of stock error.

[2015-06-23 09:32] bakura10 commented on #5
Yes, but as a consequence I cannot use the nice "rv-data-remove" things. What I've done is simply initializing CartJS BEFORE my own library. This way, as my listeners are attached last, they are executed first (because you prevent propagation of all listeners). This way I'm able to perform the animation.

[2015-06-23 09:33] gavinballard commented on #5
@bakura10 Okay, great to hear you managed to find a working solution :).

[2015-06-23 09:39] bakura10 commented on #5
Well it's not "perfect". I could send you by email the theme I'm working on. It seems that I "hide" the element through animation, but there is a strange effect (like if the list was re-rendered).

[2015-06-24 11:45] bakura10 opened #22 "IE8/9 support"
Hi,

I've tried this on IE8 and 9 but it does not seem to work. Do we need special polyfills? I'm not using the dist CartJS, but rather CartJS + Rivets + Sightglass separately.

Thanks a lot ;)

[2015-06-25 07:26] gavinballard commented on #22
Hmm. IE9 should be okay, at least with the version of Rivets that ships with Cart.js. It is possible that later versions of Rivets don't support IE9 in order to be drop some `observe` workarounds.

I'm not planning on providing IE6-8 support, but IE9 is probably important enough to maintain support for. I'll take a look at this this weekend.

[2015-06-25 08:35] bakura10 commented on #22
Ha damn.. The issue is that Shopify requires support for ie8 on theme :/. So I suppose I won't be able to use it :(.

Envoyé de mon iPhone

[2015-06-25 08:36] gavinballard commented on #22
Ah, are you building out a theme for sale on the Theme Store?

[2015-06-25 08:44] bakura10 commented on #22
Exactly :).

Envoyé de mon iPhone

[2015-06-25 08:45] gavinballard commented on #22
Ah okay. Well, I'll take a look at IE8 support on the weekend as well then :).

[2015-06-25 08:56] bakura10 commented on #22
Oh awesome! Thanks a lot! :)

Envoyé de mon iPhone

[2015-06-27 13:32] gavinballard commented on #22
Hey @bakura10, I've been playing around a little with this issue on an [ie8 branch](https://github.com/discolabs/cartjs/tree/ie8). It's really pretty tricky, because Rivets defines its default observer with `Object.defineProperty`, for which there are no good IE8 polyfills.

I've been playing around with a potential [semi-polyfill](https://github.com/helgoboss/iota-observable) in conjunction with

[2015-06-27 15:06] bakura10 commented on #22
Hi,

That's not a good news, but thanks for your time. I'll see how I can work-around this and do some progressive enhancement on IE8. However when I tried on my computer, the problem was that on some feature IE9 does not work (using the rv-if).

[2015-06-27 16:17] gavinballard commented on #22
Hmmm, that's odd (re the rv-if) not working. Do you have any sort of detailed error messaging?

[2015-06-27 16:18] gavinballard commented on #21
I just pushed v0.3.0 of Cart.js, which now includes native support for dynamic currency switching. The only thing you should have to do is update your `money` filters to look like this:

[code]

[2015-06-27 16:18] #21 closed

[2015-06-27 16:19] gavinballard opened #23 "Add documentation for new dynamic currency features"

[2015-06-27 18:17] bakura10 commented on #22
Hi,

I'll likely make some more tests on Tuesday (I usually need to dedicate at least one or two full days for IE :D). I'll let you know!

[2015-06-27 18:18] bakura10 commented on #21
Oh AWESOME AWESOME. Thanks!

[2015-06-27 20:39] bakura10 commented on #18
Hi :),

I've tried to use the productImageSize filter, but it always return me the biggest image:

[code]

What am I doing wrong?

[2015-06-28 10:04] bakura10 opened #24 "Bug when displaying items"
Hi :),

I think I'm having a major bug here. Also, I have a strange result: interpolation works, but using HTML binding never works here (or in strange circumstances).

If I take the example in your home page, the following code:

[code]

This displays the vendor. However, if I remove the ul:

[code]

The vendor does not appear anymore. In my full example, I simply have nothign that appears:

[cod

[2015-06-28 10:05] bakura10 commented on #24
Note:  downgrading to v2.7 make it works again (but obviously I don't have currency conversion).

[2015-06-28 10:11] gavinballard commented on #18
This is why it needs more documentation :).

The `productImageSize` filter relies on Shopify's `Shopify.Image.getSizedImageUrl` method being available, although I believe that should be available on any page with `option_selectors.js` included. But anyway, first step would be to double check that method's available by entering that in your console.

Another thing that might be causing a problem he

[2015-06-28 10:14] gavinballard commented on #24
Hey @bakura10, can I just say thanks for taking the time to provide all of these detailed reports :).

Would it be possible to provide me with access to the site you're developing on? Taking a look at the site directly may help me work out what's going wrong. You can ping me outside of GitHub via email (gavin at gavinballard dot com).

[2015-06-28 10:20] bakura10 commented on #24
Hey,

Actually, it seems that I had an issue with a duplicate "data-cart-view" declaration. I've re-installed CartJS 0.3 and removed it, and now the element appears, BUT productImage filter does not work, and currency conversion does not work neither.

I'm sending it to you by email ;)

[2015-06-28 11:23] bakura10 commented on #18
Bingo ! Adding the quotes worked! Thanks a lot !

Envoyé de mon iPhone

[2015-06-28 15:18] misterchristopher commented on #23
Hi guys,

We are having an issue with our cartJS currency, since you updated the plugin.

"Uncaught ReferenceError: Currency is not defined"

When are you going to have a documentation on that, or maybe you can give us some advice how to solve it. I tried around for some time but couldn't figure it out..

      $(function () {
        CartJS.init({{ cart | json }}, {
            "currency": "{{ sh

[2015-06-28 16:03] gavinballard commented on #23
Hi Christopher,

Sorry about the breakage. This is an issue on our end - I'll try to push a 0.3.1 tonight with a fix.

- Gavin

On Sun, Jun 28, 2015 at 5:18 PM, Christopher P. <notifications@github.com>
wrote:

[2015-06-28 19:51] gavinballard commented on #23
Hey @misterchristopher, I just pushed v0.3.1 which includes a fix for this bug. Please let me know if you run into any other problems.

[2015-06-28 19:55] gavinballard commented on #24
Hey @bakura10, another area where the documentation is lacking a little. When you initialise Cart.js, try adding the following initialisation options (in your `theme.liquid`):

[code]

[2015-06-28 20:23] bakura10 commented on #24
Bingo !!!

So, to say one word: your library rocks, your documentation sucks :d.

[2015-06-29 07:38] gavinballard commented on #24
That's probably a fair statement :).

[2015-06-29 12:36] bakura10 opened #25 "Shipping Rates estimator"
Hi :),

It would be nice to have a native support for shipping rates around the Shopify shipping rates API.

Thanks!

[2015-06-29 13:44] gavinballard commented on #22
@bakura10 I've just pushed a simpler approach to supporting browsers without ES5 support (namely, IE8) on a `non_es5` branch. Because of the additional overhead involved with the ES5 shims and whatnot, I've decided to package that as a separate `dist` file called `rivets-cart-ie8.min.js` that should be conditionally loaded in `theme.liquid` like this:

[code]

It would be great if you could try th

[2015-06-29 13:47] bakura10 opened #26 "Being able to use Rivets.js?"
Hi again (sorry for all the problems :'(),

I'm trying to integrate myself shipping estimator until it is done natively. I'm trying to use native Rivets code for that. But I fail to make Rivets work.

In my code, I've reproduce a small use case (my code is included AFTER CartJS + Rivets):

[code]

Then in my JS code:

[code]

I expect it to display bar three times. However that's not the case. It

[2015-06-29 13:48] bakura10 commented on #22
Hi,

Thanks a lot for the work. I'll do IE8 testing tomorrow or tomorrow after tomorrow. But considering my build process (I'm having a single vendor with ALL dependencies), it's a bit ahrd.

Instead, I have a "polyfills" fill that is included before with alll the needed polyfills. Maybe you could list all the needed polyfills that need to be included?

[2015-06-29 15:16] gavinballard commented on #22
The IE8 version is pulling in the ES5-shim.js polyfill, but it also uses a slightly modified version of ES5-sham.js. I needed to use my own version because otherwise ES5-sham.js throws a fatal exception when `defineProperty` isn't available.

[2015-06-29 16:12] gavinballard commented on #26
Taking a quick look at your demo site, it looks like your whole `<body>` element is set up as a Rivets view, then the shipping estimator is a "sub-view". I don't think Rivets supports binding nested views like that, which could be causing your problem. I'd try splitting out the views into smaller containers (you can have multiple `data-cart-view` elements on a page) and making sure the custom Rive

[2015-06-29 18:25] bakura10 commented on #26
Hi,

That sounds interesting. I'll need to know how I can update the models within code and I'll let you know ;).

[2015-06-29 23:18] stewartknapman commented on #5
@gavinballard does `cart.requestComplete` know what items have been removed from the cart in the last request? If not, can it?
Or would a `cart.itemRemoved` event be better?

I'm displaying the cart in a side bar on all templates, at all times. This side-cart display is basically just listening to the `cart.requestComplete` event so that it knows to update.

[2015-06-30 06:34] gavinballard commented on #5
@stewartknapman I'm assuming you're not using Rivets for DOM binding? That's the preferred method for keeping anything more complex than a item count or price total in sync. 

But to answer your question, no it doesn't, although it has access to the cart object. I'm thinking about adding itemsAdded and itemsRemoved events.

On Tue, Jun 30, 2015 at 1:18 AM, Stewart Knapman <notifications@github.com

[2015-06-30 06:51] stewartknapman commented on #5
@gavinballard no, we are doing some crazy things like custom product bundles. Currently the sidebar-cart object knows what items it has so it checks them against what comes back from CartJS and removes any that don't match, but I'd like to be more explicit about what is to be removed from the view.

[2015-06-30 07:13] gavinballard commented on #5
@stewartknapman OK. Then the envisaged `itemsAdded` and `itemsRemoved` events should handle your use case.

Another alternative is to just re-render your entire sidebar using the `cart` object, but not knowing the specifics that could be tricky for you.

[2015-06-30 07:17] gavinballard commented on #26
Simplified, something like this:

[code]

[2015-06-30 09:36] bakura10 opened #27 "removeItemById does not exist"
Hi :),

It seems that the method "removeItemById" is not defined. Actually, if I oepn the inspector even in your demo page, CartJS.removeItemById is undefined method.

[2015-06-30 10:12] #27 closed

[2015-06-30 10:26] bakura10 opened #28 "CartJS does not remove the right element"
Hi again,

Sorry for pinging you again. I'm still trying to integrate animation. So here is my try: when clicking on the element, I first toggle the element using jQuery, then I remove the item using CartJS:

[code]

What happen is the following:

jQuery performs its animation, and set the element as display: none. Then, CartJS remove the element. But it seems that because the lement is hidden, bi

[2015-07-01 09:33] #26 closed

[2015-07-01 09:33] #24 closed

[2015-07-02 12:18] gavinballard opened #29 "Sites using Cart.js"
People are doing some really great things with Cart.js, so it would be great to showcase their sites on cartjs.org. This issue can serve as a way for anyone using Cart.js to let us know they'd like to be considered for inclusion on the site.

Currently, I know of (and have received permission to list):

- [Mast Brothers](http://mastbrothers.com/)
- [GoDefense](http://godefense.fr/) (note this is c

[2015-07-03 14:16] bakura10 commented on #22
Hi :),

I've been trying IE8 and it seems to be workable (well... any website on IE8 is so sloooow it's unjoyable but at least it works). I've seen that you've released v0.3.2 with the getCart method that I'd like to use. Would it be possible to release the IE8 version with that added too?

[2015-07-03 15:03] gavinballard commented on #22
Glad to hear that it's workable. That's the best you can hope for with IE8 really :).

Will put this into a v0.3.3 release tomorrow.

On Fri, Jul 3, 2015 at 4:16 PM, Michaël Gallego <notifications@github.com>
wrote:

[2015-07-03 15:09] bakura10 commented on #22
Awesome :). I really hope that Shopify will discontinue support for IE8 soon... it's starting to be unworkable once you want to do something a bit original :/.

[2015-07-03 15:29] oliwillis commented on #22
Fixed that for you :)

[2015-07-03 15:31] bakura10 commented on #22
Haha so true ! I WANNA USE FLEXBOX ON ALL OUR THEMES

[2015-07-04 13:34] gavinballard commented on #22
:) Just pushed v0.3.3, with a couple of minor changes.

Docs for the new browser support feature [here](http://cartjs.org/pages/guide#getting-started-browser-support) - please let me know if you run into any issues.

[2015-07-04 13:34] #22 closed

[2015-07-04 16:26] bakura10 commented on #22
Thanks !

Taht sounds nice. However, it seems there are problems on IE9 too :/. Yoou have the address of our template, and on IE9, it fails :/. Damn IE....

[2015-07-04 16:27] gavinballard commented on #22
Any clues as to why?

On Sat, Jul 4, 2015 at 6:26 PM, Michaël Gallego <notifications@github.com>
wrote:

[2015-07-04 16:28] bakura10 commented on #22
No... No errors :/.

[2015-07-04 16:28] bakura10 commented on #22
Ha wait... I may have a clue

[2015-07-04 16:29] bakura10 commented on #22
Okay, it works now after removing a stupid console.log... I'm not trying to understand IE anymore....

[2015-07-04 16:29] gavinballard commented on #22
Haha :).

On Sat, Jul 4, 2015 at 6:29 PM, Michaël Gallego <notifications@github.com>
wrote:

[2015-07-14 15:33] bakura10 opened #30 "IE8/9 issue with console"
Hi :),

After a lot of debugging, I still had issue with CartJS not working on IE8/9. The strange thing is that as soon as I opened the developer tools of IE... boom, CartJS was working. I was a bit surprised to say the least, and it appears that this is due to this bug: http://stackoverflow.com/questions/7742781/why-javascript-only-works-after-opening-developer-tools-in-ie-once

I've removed any

[2015-07-15 00:20] gavinballard commented on #30
@bakura10 Can you try running your site with the compiled compatibility Javascript version here: https://github.com/discolabs/cartjs/blob/console_fix/dist/rivets-cart-compatibility.min.js.

If that fixes it, let me know and I'll push this out as a release.

[2015-07-15 07:16] bakura10 commented on #30
Hi !

I am definitely using the minified library but it still contains various references to console.log. Those are not executed because of the debug property being false but it seems that the sole presence of them in the source code is the source of the problem ;(.

[2015-07-16 09:16] bakura10 commented on #30
Hi,

I can see you're working on a fix, but it is also needed on IE9 (it seems you have only included it in the compatibility version).

[2015-07-16 13:27] gavinballard commented on #30
Hey @bakura10 - can you confirm that you're using the version of the console fix I linked to above and you're still running into problems? That version includes the suggested fix you posted above.

[2015-07-16 16:15] bakura10 commented on #30
Hi,

This one definitely seems to work on IE8. However, the compatibility is only needed for IE8, but for IE9 I use the normal version. But this console error ALSO appears on IE9. I've checked and it is fixed only from IE10. So unfortuantely your fix must also be added to the normal version :(.

[2015-07-16 16:16] gavinballard commented on #30
Okay, thanks for the clarification. I'll bring the fix into the main branch.

[2015-07-16 16:23] gavinballard commented on #30
@bakura10 Just pushed an update on the feature branch bringing that console.log fix out into the main library. Can you please check with the files in https://github.com/discolabs/cartjs/tree/console_fix/dist and let me know how that works out.

[2015-07-16 16:40] bakura10 commented on #30
Works like a charm! Thanks!

[2015-07-16 16:44] gavinballard commented on #30
Just released as v0.3.4.

[2015-07-16 16:44] #30 closed

[2015-07-27 10:03] #29 closed

[2015-08-08 19:48] bakura10 opened #31 "Possible to combine with server-side?"
Hi,

We are on the verge of releasing our second theme, but during the last step of validation, we were asked that the theme sold on Theme Store must be "usable" without JavaScript.

By usable they mean: you must be able to go to the homepage, selecting a product, adding it to the cart, and going to checkout.

Obviously, the issue is that because the cart is rendered client-side, I had to duplicat

[2015-08-09 11:48] gavinballard commented on #31
Hi @bakura10. I'm afraid what you've described isn't really possible (as far as I can see) without duplicating code unless you're setting up some sort of build process that "renders" your Rivets templates to their Liquid equivalent (not really suitable for a theme that's going to be distributed to multiple stores).

An alternative would be to set up your Liquid to render your cart in a way that di

[2015-08-09 11:48] #31 closed

[2015-08-09 11:57] bakura10 commented on #31
Ha nice trick. I didn't think of using forloop.first for displayng the rv-each-item.

I'll let it this way for now until the theme is fully accepted and I'll have a look at this later. I'm happy to be the first theme in the Theme Store to use CartJS, but all the constraitns they ask make the experience a bit painful ^^.

[2015-08-09 12:49] gavinballard commented on #31
Great, glad that helps. Yeah, it's tough to get in but once you do you're sitting quite pretty :).

Do let me know when the theme hits the store, would love to add it to our built with Cart.js section :).

On Sun, Aug 9, 2015 at 1:57 PM, Michaël Gallego <notifications@github.com>
wrote:

[2015-08-09 12:56] bakura10 commented on #31
Sure, currently at the third (and normally last) step of the validation ;).

[2015-08-10 18:52] MichaelFBA opened #32 "Add to cart Bug"
I have a very simple button
`<button data-cart-add="{{ product.id }}" data-cart-quantity="1">{{ product.title }}</button>`
which tries to add an item to the cart but I get an error:
`Cannot find variant`
The product has no variants so i am a little confused why that would be the case.
Ever had this happen before?

Cart.js v0.3.5

[2015-08-10 19:25] gavinballard commented on #32
Hi @MichaelFBA,

All products have at least one variant. To achieve what you're after, try:

[code]

Hope that helps!

[2015-08-10 19:25] #32 closed

[2015-08-11 07:04] MichaelFBA commented on #32
Thanks

[2015-08-21 16:05] bakura10 commented on #29
Hi :),

Our theme Kagami is now sold on the Theme Store: https://themes.shopify.com/themes/kagami/styles/kyoto

It uses CartJS everywhere ;).

[2015-08-21 22:12] bakura10 opened #33 "New site for "Built With" Page: http://kagami-tokyo.myshopify.com"
Hi,

This is just a recap of #29 , to follow the process.

Our theme can be bought here in the Theme Store: https://themes.shopify.com/themes/kagami/styles/kyoto

Preset Kyoto: https://kagami-tokyo.myshopify.com
Preset Baptiste: https://kagami-paris.myshopify.com

(I know, URLs don't match preset names, Shopify just forgot to check the uniqueness of it and asked us to modify the preset names after

[2015-08-22 10:33] #33 closed

[2015-08-22 10:34] gavinballard commented on #33
@bakura10, the theme looks incredible! You guys have done an amazing job, and I'm really glad Cart.js was able to help.

:+1:

[2015-08-22 10:38] bakura10 commented on #33
Thanks Gavin. We'll likely build other themes with it. Hopefully you'll be able to add support for shipping soon ;)

Envoyé de mon iPhone

[2015-08-22 10:39] gavinballard commented on #33
It's high on the list :).

[2015-08-22 16:38] bakura10 opened #34 "Include cart-rivets-compatibility unminified"
Hi,

It should be nice if you could also include this one unminified in the dist folder ;).

[2015-08-23 14:43] bakura10 commented on #31
Hey! I just wnat to confirm that your trick perfectly works! ;) No more duplicated code!

[2015-08-31 14:03] davidvenin opened #35 "Add the possibility to switch variant from a product"
I can't find a way to switch variant for a product directly in the cart. The idea is : if you want the other one,  just update the sku without changing properties but updating price as well.

[2015-08-31 20:38] gavinballard commented on #35
Thanks for the contribution @davidvenin - interesting idea!

There's not really any way to do this directly through the Shopify Ajax API - it would have to be done by first removing the existing item from the cart, then replacing it with the new item.

You could do this now with only a couple of lines of Javascript, by temporarily storing the properties of the line item in question, removing it an

[2015-09-11 07:52] bakura10 commented on #25
Hi @gavinballard ,

As part of this feature, I'd like to highlight some useful things that we would need (that I have build a bit manually with Rivets in Kagami):

* Having access to the status of the shipping estimation (failed or success).
* If failed, being able to have access to the error message
* If success, being able to have access to the list of the shipping rates
* In Kagami, we are also

[2015-09-11 07:59] bakura10 opened #36 "Automatically extracting data from form"
Hi,

When developing a theme, you cannot know in advance which properties a product have. As a consequence, this:

[code]

Is not possible because we cannot know that it will have the "size" property. The problem is that jQuery does not have any nice built-in function to extract the data from a form in a way that is easily consumed by CartJS. Here is the boilerplate code I've been doing:

[code]

[2015-09-14 10:50] davidvenin commented on #35
Yeah @gavinballard, that's what I did couple days ago :) ! I stored my properties in an hash and then, add the good one with good properties :) ! `replaceItem` would be amazing !

[2015-09-24 13:36] Chinhcom007 opened #38 "https://development-demo.myshopify.com"

[2015-09-24 13:39] Chinhcom007 opened #39 "New site for "Built With" Page:https://development-demo.myshopify.com"
Test

[2015-09-29 20:32] bakura10 commented on #39
Hi,

It does not seem that this store uses CartJS. Can you please clarify? :)

[2015-09-30 09:26] gavinballard commented on #39
This kinda looks like spam, closing.

[2015-09-30 09:26] #39 closed

[2015-09-30 09:27] #38 closed

[2015-10-21 08:44] bakura10 opened #40 "Add weight support"
Hi !

I've had a customer that was trying to output the weight of the cart, however it seems CartJS does not have any weight formatter to do that.

Bye!

[2015-10-24 18:52] #40 closed

[2015-10-24 18:58] gavinballard commented on #40
Thanks for your suggestion and work on this @bakura10. Just released 0.3.6, which includes support for `weight` and `weight_with_unit` formatters. Cheers!

[2015-10-25 19:09] bakura10 opened #43 "Issue when product does not have image"
Hi,

One of our customer just reported an issue: if a product does not have any image, the productImageSize helper fails, and hence nothing is rendered. This is inconsistent with the default Shopify behaviour where it uses their placeholder image instead.

[2015-10-25 19:45] bakura10 commented on #43
It seems that you could use https://cdn.shopify.com/s/images/admin/no-image.gif by default, and generate the various size.

[2015-10-26 10:13] #43 closed

[2015-11-04 15:16] michaelrshannon opened #46 "New site for "Built With" Page: http://shop.budweiser.ca"
US version also available at budredlights.com

[2015-11-04 15:37] #46 closed

[2015-11-04 19:50] lindseybradford opened #47 "Format money without ".00"?"
Hi there,

Is it possible to adjust the formatMoney filter to display item price without without the decimal and cents? For example, just like what this Liquid filter would output:

**Liquid**
[code]
**Result**
[code]
Thanks!

[2015-11-04 20:00] gavinballard commented on #47
Hi @lindseybradford, thanks for checking out Cart.js!

It's not entirely clear from the documentation (http://cartjs.org/pages/reference#options-money-format), but it's possible to pass a custom money format to the `CartJS.init` method, in a similar way to the money formats available on the Shopify admin. So for your specific use case, you should be able to do:

[code]

Note the `{% raw %}` tags t

[2015-11-04 20:13] lindseybradford commented on #47
Hi @gavinballard,

Perfect! Sorry I missed that—it totally makes sense.

Thanks so much for your help!
L

[2015-11-04 20:14] gavinballard commented on #47
Great, glad I could help!

[2015-11-04 20:14] #47 closed

[2015-11-10 15:17] lindseybradford opened #48 "RV Templating: Conditionally show text based on string contents?"
Hi there,

Firstly, just wanted to say thanks so much for putting this great library together and I'm really looking forward to future roll-outs of docs and enhancements!

Here's a question for you:

Essentially, I've broken out how I display product title and it's variants in the cart for UX purposes and would like to *not* show variants that contain 'Default Title', while testing for variants th

[2015-11-10 16:09] michaelrshannon commented on #48
Hi @lindseybradford - I've just submitted a pull request that may address your issue - I don't have write access to this repo, but let me know if this solves it once the PR is merged.

[2015-11-10 16:28] gavinballard commented on #48
You're able to chain rivets formatters, and there's a `not` filter, so you can do something like `rv-show="item.variant_options.1 | not | eq 'Wrap'"`. For this specific use case, however, you might be better using `rv-hide` rather than `rv-show` (I actually use `rv-if` and `rv-unless`, the difference being that the latter two actually add/remove the element from the DOM entirely, rather than just

[2015-11-10 20:46] lindseybradford commented on #48
Hi Gavin,

Thanks so much for the guidance! Sorry for the delayed response on my part. I think something like the includes formatter would be super helpful for sure. Let me know if/when that's pushed!

Thanks again *so much*!
L

[2015-11-11 08:29] gavinballard commented on #48
Well, thanks to @michaelrshannon's fast work, there's now an `includes` formatter in the just-released v0.3.9 :).

[2015-11-11 08:29] #48 closed

[2015-11-12 03:51] hellojebus opened #51 "New site for "Built With" Page: http://writeyboards.com/"
Developed this a couple months ago, and recently went live :D

[2015-11-12 12:58] gavinballard opened #52 "Dropping Compatibility Mode"
Now that Shopify's theme requirements have been changed to require [only IE9+](https://docs.shopify.com/themes/theme-development/theme-store-requirements/theme-file-requirements), I'd like to drop the compatibility additions made in #22.

@bakura10  - wanted to get your thoughts on this as you were the main driving force behind the IE8 compatibility.

[2015-11-12 12:59] bakura10 commented on #52
YES YES YES. I was so happy when I read the new guidelines. This can be removed :D.

[2015-11-12 12:59] #51 closed

[2015-11-12 13:00] gavinballard commented on #51
Awesome site, thanks!

[2015-11-12 13:02] gavinballard commented on #52
Haha. That's the sort of positivity I was hoping for.

Will take this out and the Rivets portion of Cart.js will support only IE9+. The core library should support IE6+, depending on the version of jQuery used.

[2015-11-12 13:19] #52 closed

[2015-11-12 13:20] gavinballard commented on #52
Compatibility mode dropped!

This change will be pushed in the next release, which will be `0.4.0`.

[2015-11-13 10:18] bakura10 opened #53 "Re-add unminified cart-rivets.js"

[2015-11-13 11:30] #53 closed

[2015-11-21 13:04] michaelrshannon opened #56 "What does the `tags` property on `cart.item` object refer to?"
Working on our current project, I noticed on inspecting `CartJS.cart.items` in the console that each `item` had a `tags` property - my first assumption was that this was pulling in the line_item's product's tags, but it was empty, even though the product does have tags. I know that a line_item only has limited product/variant properties bundled by Shopify, but I couldn't tell if I was misunderstan

[2015-11-23 02:38] stewartknapman opened #57 "New sites for "Built With" Page"
http://www.phd.co.nz
http://www.foodbank.org.nz
http://www.laineehermsen.co.nz

[2015-11-23 09:56] gavinballard commented on #57
:D Awesome, thanks @stewartknapman!

Sites looks great!

[2015-11-23 10:44] #57 closed

[2015-11-23 21:43] gavinballard commented on #56
I'm having trouble reproducing this. AFAIK, this isn't something that Cart.js is adding to the data model.

Can you please work out a way to reproduce, or close the issue if it's not something that's causing problems?

[2015-11-24 11:25] michaelrshannon commented on #56
Hmm - I had seen this on two separate stores before opening the issue (shop.budweiser.ca and an in-development store), so had thought it was unrelated to any project-specific code, but having a look through some of the other built-with stores, I can't see the property appearing. I'll keep an eye out and try and figure out a scenario to reproduce later this week.

[2015-11-24 11:37] gavinballard commented on #56
I just checked out the Budweiser site and could see the issue, but looking at your source code I'd say this is the culprit:

[code]

Trying to access `item.tags` won't work as the property doesn't exist, but it will cause Rivets to set up an attribute on the target objects in case it does exist in the future :).

[2015-11-24 11:37] #56 closed

[2015-11-24 11:38] gavinballard commented on #34
No longer relevant as we've removed the compatibility module.

[2015-11-24 11:38] #34 closed

[2015-11-24 11:40] michaelrshannon commented on #56
Doh! Thanks for taking a look - that makes complete sense (and clearly that should have been removed a while ago, since it isn't doing anything useful!)

[2015-11-24 11:50] gavinballard commented on #36
Is there any reason adding a `data-cart-submit` attribute to the form in question wouldn't work for this use case? ([Docs](http://cartjs.org/pages/reference#data-api-data-cart-submit)).

[2015-11-24 11:52] gavinballard commented on #28
@bakura10: Did you ever work out the cause of this issue, or learn anything more about it? Trying to do an issue spring clean :).

[2015-11-24 12:28] bakura10 commented on #36
Actually I often need to do more than just submitting, like changing the button of the add to cart button, displaying "success" message... The data-cart-submit does not offer this flexibility.

[2015-11-24 12:29] bakura10 commented on #28
I'll check again but I think I did a funny hack with setTimeout and something like that. I'll have a closer look ;).

[2015-11-24 12:40] michaelrshannon commented on #18
@gavinballard Would you like me to factor this issue into work on #55?

[2015-11-24 12:52] #23 closed

[2015-11-24 12:55] gavinballard commented on #36
Okay, fair enough. There is already the required logic inside the `data-cart-submit` functionality, I can look to pull it out and make it publicly accessible.

[2015-11-24 12:56] gavinballard commented on #18
@michaelrshannon That would be awesome, thank you!

I'd also like to bring product images into the advanced cart example on the Cart.js homepage.

[2015-11-24 12:57] michaelrshannon commented on #18
Np - I can do that at the same time.

[2015-11-24 17:35] gavinballard commented on #7
Closing this because I want to see a real-world use case for new features.

[2015-11-24 17:35] #7 closed

[2015-12-10 23:26] benkenny opened #59 "Only working on Product and Home page"
Hi - I have been trying to implement cart.js on my shop, and it is looking great so far. Thanks!

Let's say I am trying to generate a mini cart that sits in the header, and I have the following in my theme.liquid file:

    <aside id="cart-drawer" data-cart-view="data-cart-view">

      <div class="cart-drawer-item" rv-each-item="cart.items">
        <div class="cart-drawer-item-image"><a rv-href=

[2015-12-11 10:39] michaelrshannon commented on #59
I'll start with a really obvious question - are you initialising CartJS in theme.liquid as well (i.e. on every page)?

[2015-12-11 11:15] benkenny commented on #59
Thank you for your reply.

Yes. I am using this just before the body tag in theme.liquid:

    <script type="text/javascript">
        jQuery(function() {
            CartJS.init({{ cart | json }}, {
                "moneyFormat": "{{ shop.money_format }}",
                "moneyWithCurrencyFormat": "{{ shop.money_format }}"
            });
        });
    </script>

[2015-12-11 11:52] michaelrshannon commented on #59
Hmm - not sure then - CartJS usually just works everywhere once you've got the rivets markup in and CartJS initialised - happy to take a look at your theme if you have a link, but @gavinballard may have some other thoughts on this...

[2015-12-11 12:46] benkenny commented on #59
Thanks -- that's what was confusing me too - I can't understand why it only works on some pages when it is built into the theme.liquid. The site in development is: sstest-13.myshopify.com

Thanks again!

[2015-12-11 21:54] benkenny commented on #59
I haven't really figured this out, but I added the initialisation of CartJS directly into the cart.liquid and collection.liquid pages and they now work. I have no idea why this was required and why including in the theme.liquid file didn't make it work on every page. Anyway, functionality is now working as I wanted -- thanks to @gavinballard for cart.js and thanks again for your help.

[2015-12-13 19:55] gavinballard commented on #59
Hi @benkenny, sorry that you were running into troubles. This does sound odd, there would be a couple of things I would double check:

1. Is there anything causing Javascript errors on your `cart.liquid` or `collection.liquid` pages? That could cause problems for Cart.js.
2. Cart.js has some dependencies, depending on what features you're using - the one I'm thinking of specifically is `option_sel

[2015-12-14 22:01] benkenny commented on #59
Thanks for getting back with these suggestions. As far as I could tell, none of these were causing the problem. I wondered if it might have been conflicting with other scripts, but the problem persisted even when I removed all others. As for your first point, I am not really sure how to check for that. And I'm fairly certain that it wasn't 2 (I got option_selectors.js working so I could use the cu

[2015-12-15 11:42] gavinballard commented on #59
Thanks for checking that @benkenny. I took a look at the site but couldn't really see any reason why you'd need to be doing that second initialisation. Unfortunately I don't really have the time to dig in to this more, and as you've managed to find a working solution, I'm going to close this issue.

Please re-open if you're still running in to this down the track and have some more information to

[2015-12-15 11:42] #59 closed

[2016-01-17 11:18] gavinballard opened #60 "Add basic automated tests for CI."
Would be nice to get some basic coverage going for 0.4, before expanding it in 0.5 and moving to plugins for 0.6.

- [ ] Decide on JS test framework to use;
- [ ] Create a few basic, easy tests (eg formatter tests);
- [ ] Integrate with TravisCI.

[2016-01-20 08:51] bakura10 opened #61 "Expose more data on product"
Hi,

One of our customer is using our theme. However, they'd like to be able to use display the product's tags in the cart. But it seems that CartJS do not expose those properties.

Would it be possible to expose the full "product" object (currently, only a subset with "product_id", "product_description", "product_title" and "product_type" are exposed, it would be nice to have a "product" hash wit

[2016-01-20 09:13] bakura10 opened #62 "New site for "Built With" Page: Focal theme"
Hi Gavin ;),

We have recently rewritten our Focal theme completely. It now uses CartJS under the hood.

The theme store link: https://themes.shopify.com/themes/focal/styles/standard

If you need to use an image, you can re-use the one we've made for our Standard preset: https://s3.amazonaws.com/shopify-theme-store/screenshots/895/main/original.jpg

Thanks! ;)

[2016-01-20 10:24] gavinballard commented on #61
Hi @bakura10!

We just expose the same product data that Shopify's Ajax API returns in the cart object, which doesn't include tags. To use and render that information using Cart.js, there are two potential options:

1. On page initialisation, use a GET request to load in product information for each product item in the cart [see here](https://docs.shopify.com/support/your-website/themes/can-i-use-

[2016-01-20 10:25] gavinballard commented on #62
Awesome theme, will add it to the list shortly :). :+1:

[2016-01-20 10:26] bakura10 commented on #62
Thanks a lot! :)

[2016-01-20 10:29] bakura10 commented on #61
Hi,

Thanks for the answer. The all_products is definitely not a solution for us in themes as we cannot know in advance how many products.

The other idea sounds nice, it would indeed be good to have an opt-in parameter "loadProduct" to CartJS that would do this code transparently.

Thanks! :)

[2016-01-20 10:31] gavinballard commented on #61
Cool. I'll look into this (probably don't hold your breath on it being included soon though ;)). If you end up implementing something yourself do let me know and I can look in to incorporating it.

[2016-01-20 10:33] bakura10 commented on #61
No problem ;). I'm not raelly in a hurry either (yeah, we're starting apps so I have tons of work next to themes :D...).

[2016-01-22 16:53] #62 closed

[2016-01-23 13:36] #60 closed

[2016-01-23 14:30] #3 closed

[2016-01-24 10:46] gavinballard commented on #25
Hey @bakura10 I'm going to take a look at this soonish. Would you be able to share the manual code you wrote for this?

[2016-01-24 11:34] bakura10 commented on #25
Sure.

Not really good but first, I've added a new model when initializing CartJS (should not be needed if integrated by default):

[code]

Then, my code just updates the model and fill errors, shipping rates (do not forget to initialize the province selector too):

[code]

Then, I have my shipping estimator snippet (just to show how I'm using all the rivets variables):

[code]

The variable "firs

[2016-01-24 11:40] bakura10 opened #66 "Add a note for theme designers"
Hi,

I'm not sure if this is something that you'd like to add, but we are now using CartJS in all our themes. I think we (Maestrooo) are the only theme vendor to use CartJS for now in the theme store.

However, we sometimes receive email from customers saying that they contacted app developers (last one were the "Wholesale" app), and that those app developers told them that our theme was not compa

[2016-01-25 11:05] gavinballard commented on #25
Thanks @bakura10 - this is really useful. Will probably ping you for feedback on the WIP branch once I get around to working on this. :)

[2016-01-25 11:14] gavinballard commented on #66
Understand where you're coming from, but given Shopify's lack of a structured plugin system on the front end there are pretty consistently going to be issues between theme and app compatibility. Ultimately, I'd like Cart.js to become the defacto standard for Shopify frontend JS, and app developers can hook into a nicer plugin API on our end rather than the other way around ;).

For now, I think th

[2016-01-25 14:31] bakura10 commented on #66
Thanks for the answer. I'll definitely let you know once I receive an anwser from them.

Having an option to deactivate CartJS is definitely my idea.

[2016-01-29 18:32] paperbeatsscissors opened #67 "Success and Error for data api?"
I'm sure I'm missing something obvious here, but I can't seem to figure out how to use the "success" and "error" functions with the data API. Is there documentation on this anywhere?

[2016-01-29 19:14] tsutshiau opened #68 "How to show a message when customer orders more than current inventory quantity?"
Hi, first of all, very, very thanks for your excellent plugin.
Here's the question: I'm trying to display a message in order to prevent users from ordering more than current inventory quantity. But always failed (tried to output it as the max property of an input element, or just a data-* attribute of a span containing `item.quantity`).
I think the problem is that I can't figure out how to output

[2016-01-30 12:54] gavinballard commented on #67
You're not missing anything obvious, this is currently pretty roughly implemented and is something that I'll be focusing on for the next version of the library :).

At the moment, the best strategy is to just bind handlers to jQuery's global Ajax events, as shown in this gist: https://gist.github.com/gavinballard/1a988d3056d6ecc1f87f.

In the future, you'll be able to bind to Cart.js-specific even

[2016-01-30 12:54] #67 closed

[2016-01-30 12:58] gavinballard commented on #66
I'm closing this - have added a note to #55 to include this note in the next iteration of the docs.

[2016-01-30 12:58] #66 closed

[2016-01-30 19:25] paperbeatsscissors commented on #67
Thanks so much for the help!

[2016-02-03 20:31] gavinballard commented on #36
@bakura10 I have a branch to resolve this: https://github.com/discolabs/cartjs/tree/36_form.

It will add two public methods:

[code]

[code]

Does this look like it would solve your use case?

[2016-02-03 20:49] bakura10 commented on #36
Perfect, that would solve it like a charm!

[2016-02-03 20:59] gavinballard commented on #36
OK, great. I'll try to find some time to add tests and then merge.

[2016-02-04 13:38] Kasi-mir opened #69 "Rivets slice"
Hello,

Would it be possible to add a rivets formatter with slice. Would be handy to manipulate text when showing it in the cart.

Specific a client wants us to display size only on variant but not the colour.

Thanks!

[2016-02-04 13:54] gavinballard commented on #69
Hi @Kasi-mir. That sounds possible - we'd need to make sure it would be useful in general.

You can easily add your own formatters for use with CartJS doing something like this:

[code]

which you could then use like this:

[code]

[2016-02-04 13:55] Kasi-mir commented on #69
Thats what I have done for now. But would be handy to have it build in, or some sort of way to manipulate the strings.

Thanks!

[2016-02-04 14:59] gavinballard commented on #69
Would you mind sharing what you're using at the moment?

The only issue I have with text manipulation formatters is that they're often quite use-case specific.

[2016-02-04 15:01] Kasi-mir commented on #69
Yeh this is a bit use-case specific aswell. Some sort of string formatters would be nice tho

`rivets.formatters.slice = function(value, arg1, arg2){
  return value.slice(arg1, arg2);
}`

[2016-02-04 15:08] #69 closed

[2016-02-04 15:08] gavinballard commented on #69
That seems useful enough! I've added it to the codebase, will be available out of the box with the next release.

[2016-02-04 21:58] gavinballard opened #70 "Better math filters."
We have `plus` and `minus`, but they assume integer values, which may cause issues. Also should add `divided_by`, `times` and `modulo`.

[2016-02-17 09:29] gavinballard opened #71 "Add CDNJS to documentation."
Cart.js is now on CDNJS: https://github.com/cdnjs/cdnjs/commit/e19be8160992e75c8567605679ad7b12e3eae800.

Should add to the getting started documentation.

[2016-02-20 18:20] #71 closed

[2016-02-26 18:54] michaelrshannon opened #72 "New site for "Built With" Page: http://greatergoodsroasting.com/"

[2016-02-26 18:55] michaelrshannon opened #73 "New site for "Built With" Page: http://rallier.com/"

[2016-02-26 20:59] #72 closed

[2016-02-26 20:59] #73 closed

[2016-03-04 02:29] suture opened #74 "Console Error - TypeError: null is not an object"
I'm seeing this error in Safari

![screen-shot-2016-03-04-at-11 14 57-am](https://cloud.githubusercontent.com/assets/90376/13516314/5f4980d4-e1fc-11e5-95dc-f6a479645adc.jpg)

[2016-03-04 08:07] gavinballard commented on #74
Thanks for the report @suture. Could you please provide some more details, such as:

- Exact OS/Browser versions you're using
- Steps to reproduce the problem
- A link to the site you're working on or a demo site on which the problem can be reproduced.

Thanks!

[2016-03-04 11:49] suture commented on #74
Hi Gavin

I was working on a custom theme (based on Timber). Basically all I did was include the cart.min.js and initialise as shown on the Guide page re: https://cartjs.org/pages/guide

There was no additional integration.

I've since removed cart.js as I need to focus on some other features. Plus I haven't had a proper look at the Timber Ajax Cart features.

So anyway, maybe best to close this t

[2016-03-04 11:49] #74 closed

[2016-03-04 20:03] michaelrshannon commented on #68
Part of the problem here is that the object that Shopify returns when you request the Cart via AJAX does not include all the properties for a variant - annoyingly, `inventory_quantity` is one of those missing properties.

@gavinballard This is a problem that we had to solve on our current project as the client really wanted to provide useful feedback to the user as they add items to the cart up to

[2016-03-05 18:28] gavinballard commented on #68
Thanks @tsutshiau!

As @michaelrshannon said, it's a bit tricky to render `inventory_quantity` from Rivets as it's not something returned by the Ajax API. Two things that could help:

1) Use the `rivetsModels` option ([see here](https://cartjs.org/pages/reference#options-rivets-models)) when initialising Cart.js on your product page to pass a full JSON object containing the product data (which sho

[2016-03-10 14:52] michaelrshannon opened #75 "New site for "Built With" Page: https://bevybar.com.ar"

[2016-03-11 10:21] #75 closed

[2016-03-31 10:49] joecallon opened #77 "Adding multiple products to cart at once"
I have a wholesale order form on one of my Shopify sites and am trying to find a way to add multiple products to the cart at the same time using Cart.js.

Is there an existing method or is this something that needs developing?

Thanks! :smile:

[2016-03-31 19:22] gavinballard commented on #77
Hi @joecallon!

The way the Shopify Ajax API works, you need to make each individual "add" request sequentially - if you fire off multiple add requests, you'll often get an inconsistent cart back. This is what Cart.js abstracts for you.

To do what you're after, you can set up an event listener on your submit/add button, then iterate through the inputs on your form and perform a `CartJS.addItem()`

[2016-04-01 10:14] joecallon commented on #77
@gavinballard Absolutely right sir!

For anyone reading this in the future, here's the code that worked for me. The setup in the Liquid file is essentially a table which has a row and a form (.cart-form) inside.

There's a lot more functionality to be added, but this works for the base.

[code]

[2016-04-01 10:14] #77 closed

[2016-04-14 17:24] paperbeatsscissors opened #78 "New site for "Built With" Page: http://intributeto.us/"

[2016-04-14 17:28] paperbeatsscissors opened #79 "Hide cart count if count is "0""
Thanks for this great plugin guys! Saved me hours of time.

I was wondering if there's a way to hide the cart count if the count is zero. I have a client that only wants the number I have above the cart to appear if there's something in the cart. I tried a few different ways myself using css but never found anything that seemed to work correctly.

Thanks in advance!

[2016-04-14 19:35] gavinballard commented on #79
@paperbeatsscissors No worries!

Are you using the Rivets.js-based DOM binding, or just the regular `data-` attributes to render your cart counter? Please share your code if you're unsure.

[2016-04-14 19:41] #78 closed

[2016-04-14 22:13] paperbeatsscissors commented on #79
Using the data attributes but I can switch if necessary.

[2016-04-15 14:51] gavinballard commented on #79
OK, the easiest way to do this that I can think of to do this, given an element that looks like this:

[code]

Would be to add a small event handler that shows/hides the element whenever a cart request completes, like this:

[code]

[2016-04-21 00:24] #79 closed

[2016-04-23 01:23] modermo opened #80 "Just can't get this thing working"
Is there a demo store, or even a demo.liquid file where this is working? For the life of me, I can't figure out why this isn't working at all. Every time I click "Add To Cart", it adds to the cart, but there is no indication of it. If I go to the /cart page I see that it has in fact been added.

I've inserted both snippets into theme.liquid, and I know they're being called because if I inspect ele

[2016-04-23 01:34] modermo commented on #80
I'm not sure if this is right, but in my site header I have (I'm using rickets)

`<span class="cart-count" rv-show="{{cart.item_count | lt 1}}"></span>`

[2016-04-23 01:36] modermo commented on #80
Not sure if this is related, but in the console I get:

variant=1190392252:609 Uncaught InvalidStateError: Failed to execute 'setSelectionRange' on 'HTMLInputElement': The input element's type ('number') does not support selection.

[2016-04-23 17:32] gavinballard commented on #80
@modermo The demo site (https://cartjs.org) is itself a Shopify site running with the library, and all the code for the theme is visible inside the `docs` directory of this repo.

Check out the first example on the home page to see how you can easily render a cart item counter.

[2016-04-23 17:45] sidati opened #81 "Is this application only for shopify ?"
Hi,
First of all i want to congratulate you for this brilliant app :)
And i want to ask you if is it possible to use CartJS with another application rather than Shopify ??? let's say a WordPress Plugin. of course after changing the endpoints :P

[2016-04-23 18:40] gavinballard commented on #81
Thanks @sidati. Unfortunately Cart.js is totally Shopify-specific, so it can't be used on any other platform. Sorry!

[2016-04-23 18:40] #81 closed

[2016-04-23 19:09] sidati commented on #81
OK thank you @gavinballard. so can i ask you, of the record :P, do you have any resources to learn Shopify development and do you have any idea if shopify does support RTL languages such as Arabic :)

[2016-04-23 19:12] gavinballard commented on #81
http://gavinballard/mst
http://gavinballard/msa
http://docs.shopify.com :).

RTL support is mostly a theme issue, I don't know of any themes that support RTL out of the box but there may be some.

[2016-04-23 19:27] sidati commented on #81
Thank you

[2016-04-23 20:02] modermo commented on #80
Thanks for the response Gavin. I've perused through the docs, but still can't figure out what I'm doing wrong.

A simple demo I'm trying to run is just display the cart count. Here it is:

[code]

and a basic init of:

[code]

But the cart count isn't showing up. I'm guessing that this may just be a little out of my depth as a theme developer, and there is a lot more for me to learn, but I'd love

[2016-04-23 20:12] gavinballard commented on #80
Try something like this:

[code]

[2016-04-23 21:50] modermo commented on #80
That works.

Sadly, I don't think I'm confident enough to move over to CartJS. I wouldn't have known to use rv-text because it isn't in the guide...

[2016-04-23 21:58] gavinballard commented on #80
It's meant to be pretty straightforward to set up for simple operations like updating a count of items in the cart. More advanced stuff, like using the data binding library, is more difficult because the functionality is itself more involved.

All of Rivets' functionality isn't documented on the Cart.js site as that would just be duplicating what you can get from reading the documentation on the R

[2016-04-23 21:58] #80 closed

[2016-04-27 10:26] bakura10 opened #82 "Shopify Script support"
Hi,

I don't have any Shopify Plus account, but I've seen that template can be modified to support Shopify Script (https://docs.shopify.com/manual/apps/apps-by-shopify/script-editor/update-liquid-templates-for-scripts).

Does CartJS supports everything?

[2016-04-27 20:27] gavinballard commented on #82
@bakura10 Yes! The Cart object returned by Shopify's Ajax API includes details of line items that may have had their price affected by a script, for example:

[code]

Note the `original_price` and `discount` keys present for each line item. This just means you'd need to account for these attributes in your Rivets.js template.

I'll leave this issue open for now as a reminder to add something in to

[2016-04-27 20:49] bakura10 commented on #82
Awesome. Yes please leave this open for now, I'll make sure to update our themes for that :).

[2016-04-30 01:22] justinmetros opened #83 "New site for "Built With" Page: http://usabaseballshop.com"

[2016-04-30 01:23] justinmetros opened #84 "New site for "Built With" Page: http://dualitas.com"

[2016-04-30 05:33] #83 closed

[2016-04-30 05:33] #84 closed

[2016-05-02 18:07] brendanhastings opened #85 "Cart quantity disappears if you add to cart then hit back button on browser."
If you add something to your cart, then hit the back button on your browser, your cart will appear empty even though there is an item in the cart. The item will appear on page refresh, or if you visit another page. I've tried it on multiple sites using cart.js and found it to be the case on each of them.

Is this a known issue with the Shopify AJAX API, or something that could potentially be fixed

[2016-05-02 18:10] gavinballard commented on #85
This sounds like an issue with the browser caching the page, rather than an issue with Cart.js or the Shopify Ajax API.

[2016-05-02 18:10] #85 closed

[2016-05-09 10:09] bakura10 commented on #82
Just a note, it seems that Shopify doc is talking about a "message" property within a line_item (https://help.shopify.com/manual/apps/apps-by-shopify/script-editor/update-liquid-templates-for-scripts). However it seems to not be here in the Ajax API. Can you confirm?

[2016-05-11 10:26] gavinballard commented on #82
@bakura10 Yes, that doesn't seem to be getting returned by the Ajax API, but the `title` property inside the `discounts` array for each line item contains the same value.

[2016-05-11 11:07] bakura10 commented on #82
I've emailed them. There is aussi the "original_price" that is missing in Ajax API (only the "original_line_price" is here).

[2016-05-11 13:23] gavinballard commented on #82
OK, awesome.

[2016-05-11 20:31] Kasi-mir opened #86 "On remove item"
A quick question, is there a way to make Rivets.js call an event upon removal of an item on the cart. I need this so I can add a the item back to the "quantity" upon removal.

What I need is basically an event to show what was deleted from the cart and how many (in my case the count is always 1)? Or should I just compare the "old cart" with the new cart?

[2016-05-11 20:37] gavinballard commented on #86
Hey @Kasi-mir, thanks for your question!

Your use case is a specific version of what we're talking about in #5, and is the major feature we'll be tackling for v0.5.0. For now, comparison of the old cart with the new cart is unfortunately your best bet.

[2016-05-11 20:37] #86 closed

[2016-05-11 20:39] Kasi-mir commented on #86
I'll do that then, thanks.

[2016-05-19 16:03] bakura10 commented on #36
Any news about tagging this? :)

[2016-05-20 09:53] gavinballard commented on #36
Unfortunately I haven't had much time to work on Cart.js of late. That'll hopefully change later in the year.

In the meantime, if this is something you really need, happy to look at any PR adding tests to the above branch.

[2016-05-24 13:12] bakura10 opened #87 "Upload file"
Hi,

Did anyone had experience with uploading file properties using CartJS? When I set the properties into the addToCart method, it jsut sends the file name to the back-end instead of uploading it.

Thanks ^^.

[2016-05-24 14:11] gavinballard commented on #87
As per https://cartjs.org/pages/guide#data-api-submitting-forms, there are browser limitations with uploading files via Ajax. These limitations are probably not as significant with modern browsers, so it may be possible to feature-detect and enable Ajax uploads conditionally based on browser support. Happy to look at PRs or to discuss further if there's an easy fix.

[2016-05-27 23:17] bakura10 opened #88 "API break in Shopify?"
Hi,

I know this is unrelated to CartJS but I wanted to raise that.

Today, I think a BC break has been introduced to Shopify Ajax API.

All our products are set to "do not track inventory" so, logically, the API should never return 422 error.

And actually this morning it was working correctly. However, now, the /cart/change.js endpoint returns a 422 whenever I try to update the quantity of a pro

[2016-05-28 06:36] bakura10 commented on #88
Bug seems to have been fixed. I'm not able to reproduce the error again.

[2016-05-28 06:36] #88 closed

[2016-05-28 06:38] gavinballard commented on #88
@bakura10 Glad the issue was resolved.

For the future, this is definitely not the best place to be reporting issues with Shopify - please use their official support channels.

[2016-06-03 17:06] modestasu opened #89 "CartJS includes unnecessary line properties"
Hey

First of all thanks for the awesome plugin! Love it.

I have this issue though - when using 'data-cart-submit' and adding items to cart I get quite few unnecessary line properties included as well. When I disable your plugin and use standard 'Add to cart' no line properties get parsed.

I am using recurring orders plugins that adds quite few fields and it makes checkout page look really messy

[2016-06-16 20:12] alex-seedcms opened #90 "Not working at all in Chrome..."
The data api works great in firefox or edge but, for the life of me, I can't get it to work in Chrome. I don't see what the issue is easier because it doesn't give an errors. Coding it via javascript doesn't really work either. It can can only add one product at a time but I need it to add multiple products at once. Have you ever had these issues before? They are only in Chrome.

[2016-06-17 08:15] gavinballard commented on #90
@alex-seedcms I haven't seen any Chrome-specific errors before. Can you please provide some more detailed information, such as console output or even a test site?

[2016-06-17 19:30] alex-seedcms commented on #90
Well lately things don't really work in chrome, I'm noticing, as well as in other browsers. I didn't get an error messages which is odd. Here's a link below that works in firefox and edge but not in chrome.

http://www.tentsile.com/collections/essential-8

Thanks for your help

[2016-06-18 10:34] gavinballard commented on #90
@alex-seedcms Steps to reproduce the error you're seeing?

[2016-06-18 16:43] alex-seedcms commented on #90
Just pick a few quantities from the dropdowns next to the products and then add to cart. In Firefox it will add the selected quantities for each product and then redirect to the cart page. In Chrome, it doesn't add anything it just redirects to the cart page.

[2016-06-19 06:11] gavinballard commented on #90
@alex-seedcms I've taken a look, there are a lot of Javascript errors on your products pages in the Chrome console. It looks to me that Javascript is hitting an error on Chrome (in your theme's code somewhere) and hence no longer being executed when you click the "Add to Cart" button, so the behaviour you're seeing in Chrome is the default non-Javascript behaviour. The error doesn't seem to be fat

[2016-06-19 06:11] #90 closed

[2016-06-19 06:20] gavinballard commented on #89
@modestasu Sorry for the delay responding to this.

I can confirm that this is a bug - our implementation of `submit` will treat all inputs in the add form (apart from `id` and `quantity`) as line item properties, regardless of whether the `name` attribute matches `properties[...]`. Fixing this could be a breaking change for some themes, but I don't think this behaviour should be being relied on a

[2016-06-19 06:20] alex-seedcms commented on #90
Except those were minor errors that, shouldn't have affected it, I've cleaned then up now and it still doesn't work. This isn't the first time Ive used cart js and not had it work properly in Chrome.

[2016-06-19 06:27] gavinballard commented on #90
@alex-seedcms You have a typo in your product submit form - you have `<form ction="/cart/add"...` instead of <form action="/cart/add"...`. Does fixing that resolve the issue?

[2016-06-19 06:32] alex-seedcms commented on #90
Good eye, missed that, but sadly no. I'm going to try and put a simple form on a bare minimal theme and see if I can get it to work in Chrome. I'd really like to get this working.

[2016-06-19 06:34] #89 closed

[2016-06-19 06:39] gavinballard commented on #89
@modestasu I've fixed this issue in `master`, but I won't release v0.5.0 of the library with the change immediately as there's some other work to go into that release.

If you're able to work off master, please do that. Otherwise, I've built a version of the library with the fix that's attached as a ZIP to this comment.

Thanks for reporting this issue!

[cartjs.zip](https://github.com/discolabs/c

[2016-06-19 21:12] alex-seedcms commented on #90
So looks like I am getting an error message though I'm unable to figure out what exactly the cause of it is at the moment
![error](https://cloud.githubusercontent.com/assets/12736992/16179869/da405b58-3627-11e6-98e8-9dcb13be2ce6.jpg)

[2016-06-19 22:25] alex-seedcms commented on #90
It seems like the problem stems from the way I'm using it. I like to use the cart.js data api in select dropdowns and it works as intended in firefox with the variant and the quantity in the **option** only. But in webkit browsers, it looks like it needs to have the variant be in the **select** part of the html to be able to add it to cart. But then for some reason it doubles the quantity or divid

[2016-07-01 21:32] markrobbie opened #91 "Success Message after Add to Cart"
Hi,
I'm having trouble displaying a success message upon successful add to cart.
I tried this:
[code]
but I have multiple products / quick view modals on the page. Any thoughts on how I can enable the notification globally for all products without having to put in the individual productids/variantids?

[2016-07-06 06:05] gavinballard commented on #91
@markrobbie Couple of ways you might be able to tackle this:

1. Instead of binding your handler to a specific button (`#button` in your example above), you could bind to buttons with a custom `data-add-variant` attribute instead:

[code]

2. Mark up your existing buttons with the built-in `data-cart-add` attribute (documented [here](https://cartjs.org/pages/reference#data-api-data-cart-add)), the

[2016-07-06 06:19] gavinballard opened #92 "Unable to update line item properties."
Our documentation currently suggests that you could use `updateItem` or `updateItemById` to change the line item properties of an existing line item, but that's not actually possible with the Shopify Ajax API.

We need to update the documentation to reflect this and suggest the workaround of removing the line item, then re-adding it.

[2016-07-06 22:12] markrobbie commented on #91
Thanks for the quick reply Gavin!

I tried the first method, however I ran into a few issues:

1. I have multiple variants per product so it throws me an error every time even if it successfully adds an item to the cart.
2. How can I prevent it from adding quantities that aren't in stock? For eg. I have only one in stock, how can we prevent adding more (or show that they've already added the only

[2016-07-07 00:34] gavinballard commented on #91
No problems Mark.

What error are you seeing? I'm not sure why having multiple variants would cause an issue here, as long as your `data-add-variant` attribute contains the ID of a variant rather than a product ID.

If you try to add out of stock items, the `error` callback should be triggered and you should be able to handle things, something like this: https://gist.github.com/gavinballard/2f652c

[2016-07-07 03:50] markrobbie commented on #91
I think maybe I wasn't clear when explaining. Right now, it gives me an error even if the item adds to the cart successfully. (error: There was a problem adding to the cart!)

What I mean to say is, I have multiple variants of every item. So how would I dynamically change the variant ID in the data-add-variant attribute (without creating a separate button for each)?

[2016-07-07 22:32] paperbeatsscissors opened #93 "Adjust line item quantity with a number field"
Apologies if I missed this somewhere else, but is it possible to update a line item with a number/text field instead of - or in addition to - the -/+ operators? I have a client that might be looking to add that functionality to their site.

Thanks again for the great plugin - love working with Cart.js!

[2016-07-08 03:58] gavinballard commented on #93
Hi @paperbeatsscissors - glad you're enjoying using Cart.js!

There's no built-in support for this in the data API, but you could do this quite easily with a simple event listener, something like:

[code]

[2016-07-08 03:58] #93 closed

[2016-07-11 02:24] gavinballard commented on #91
Is the Ajax request actually returning a HTTP error? If so, what is it? That should be the only situation in which that error callback is triggered. A test site would be useful.

If you have a single button for a product, how are users selecting which variant they want to purchase? If it's a select or option button or something along those lines, you could get the selected variant information from

[2016-07-13 10:06] jgamio commented on #90
I got the same error but was because the product id was wrong. Firefox don't show any error message but Chrome does

[2016-07-15 01:43] markrobbie commented on #91
Hi Gavin,

Here is the demo store:
http://monterey.myshopify.com/collections/men/products/bobby-renegade-men-s-jean
Password: github

As you'll notice, when you click the 'add to cart' button, it'll return the error message even after successfully adding the item to the cart.

Best,
Mark

[2016-07-15 03:30] gavinballard commented on #91
@markrobbie It looks like your code is making two requests to `/add.js` (see attached), one without a variant ID. That's what's triggering the error message. The second request contains a variant ID and goes through fine, which is why the item is still being added to the cart.

I'd be looking for any additional event handlers attached to the add to cart button, possibly those that might be being a

[2016-07-16 11:58] Kasi-mir opened #94 "New site for "Built With" Page: http://www.sargossa.com"

[2016-07-17 03:40] #94 closed

[2016-07-17 03:41] gavinballard commented on #94
Thanks @Kasi-mir!

[2016-07-22 14:49] 0xsven commented on #77
Quick followup question:

I need to add a few products at once and then redirect to the checkout process. How to make sure all the ajax requests fired before I call window.location="/cart" ?

[2016-07-25 00:30] gavinballard commented on #77
@0xsven Adapting the code from @joecallon above, you can do this:

[code]

[2016-07-27 05:51] justinmetros opened #95 "New site for "Built With" Page: https://susistudio.com"
You're the man, Gavin 👍

[2016-07-30 08:42] #95 closed

[2016-08-02 15:28] jmdesiderio opened #96 "If using module loader, CartJS doesn't attach to rivets module"
While the CartJS and rivets scripts separately are compatible with UMD, their binding to each other only happens if they are attached window object referenced on the line: https://github.com/discolabs/cartjs/blob/master/dist/cart.js#L525

Currently, I'm utilizing babel and webpack to package up my scripts and have to expose both of these libraries on the window object to get them to work together.

[2016-08-09 12:15] JumpLink opened #97 "Update / rerender / rebind data api and view of new injected template"
Hi,
I use [barba.js](http://barbajs.org/) to load parts of the template with PJAX (aka push state ajax) and updates the dom. In this way I load the cart page wich uses your template and data bindings implementation, but the page is not rendered because it is loaded **after**  `CartJS.init()` was run.

I tried to run `CartJS.init()` again, but this is not working. I've also played in different ways

[2016-08-09 12:24] JumpLink commented on #97
If I run `CartJS.init();` again, the new template is rendered but my old (already rendered) dropdown cart menu will be destroyed with empty values.

After first init:
![auswahl_360](https://cloud.githubusercontent.com/assets/1073989/17516119/d5e34826-5e3c-11e6-89b9-77917c71e874.png)

After second init:
![auswahl_361](https://cloud.githubusercontent.com/assets/1073989/17516118/d5da2ebc-5e3c-11e6-84

[2016-08-09 18:51] a-s-f opened #98 "Shopify JavaScript Buy SDK"
may be a dumb question but would I be able to build my cart while feeding in from the js sdk.
essential I want to make some simple real quick popup shops via github pages, but would love to use cart.js as I started using it on all my in shopify themes.

https://shopify.github.io/js-buy-sdk/

[2016-08-10 10:29] gavinballard commented on #97
Hey @JumpLink - I definitely think this is something that should be resolved, but after spending some time trying to work out a nice way to rebind views, I'm running into some issues that I don't have the time to work on just now.

The best I can offer is a compiled version of [rivets-cart.min.js](https://github.com/discolabs/cartjs/blob/d0e1c85be65f96138f481dd0844ab54676806f5e/dist/rivets-cart.mi

[2016-08-10 10:31] gavinballard commented on #96
@jmdesiderio Thanks for the feedback!

This sounds perfectly reasonable - can't say my Babel/Webpack knowledge is that deep though so I'd welcome any help getting a PR together to make this work.

[2016-08-10 10:33] gavinballard commented on #98
@a-s-f Thanks for using the library!

Unfortunately, Cart.js will only work when hosted from a Shopify site, as it depends heavily on the Ajax API. No plans currently to change this approach.

[2016-08-10 10:33] #98 closed

[2016-08-10 11:16] JumpLink commented on #97
Hey thank you, I get it working, now.

That's my code:

[code]

If I would create a patch, how would you like to see that?

A new function called `rebindViews` in `src/rivets.coffee` that is looking for not bound views?
To check if any `'[data-cart-view]'` was bound, wie could set the attribute to `data-cart-view="isBound",` for all bound views, so we could rebind all views without this value.
Wha

[2016-08-11 03:41] gavinballard commented on #97
Awesome, great to hear you got things working.

I tried exposing `bindViews` publicly so that that could be called, but I kept running in to issues with the model not being properly set up and having things render as empty. So I think either making `bindViews` publicly accessible *or* listening for a custom event trigger on `document` (something like `views:changed`) would be the way to go.

[2016-08-11 18:05] jmdesiderio commented on #96
@gavinballard No problem, I'll aim to get something together in the coming weeks.

[2016-08-16 09:33] #70 closed

[2016-08-24 21:15] stewartknapman opened #99 "Add support for line_item.key"
TL;DR Actual awesome!

You'll probably see this later today, but Shopify have now released `line_item.key`. This adds a unique identifier to each line item, as apposed to `line_item.id` which didn't take into account line items with differing properties.
https://help.shopify.com/themes/liquid/objects/line_item#line_item-key

This will probably also effect #92

[2016-08-25 00:38] gavinballard commented on #99
👍

I am excited about this! I would say that the next version will drop support for modifying by index and make modifying by key the primary way to update existing items.

Re #92 - correct me if I'm wrong but there's still no way to update an existing item's properties, right?

[2016-09-13 20:27] nandank16 opened #100 "New site for "Built With" Page: http://bangoshoping.myshopify.com"

[2016-09-13 23:39] gavinballard commented on #100
This site doesn't seem to actually use Cart.js.

[2016-09-13 23:39] #100 closed

[2016-09-19 21:22] qnacreative opened #101 "Displaying only the latest product added to the Cart View"
The rv-each-item="cart.items" is great but what if we would only like to display the latest item added in the Cart view? Is this possible?

Thank you!

[2016-09-19 23:54] gavinballard commented on #101
@qnacreative You should be able to do something like:

[code]

[2016-09-19 23:54] #101 closed

[2016-09-20 01:02] jonathan-bird opened #102 "Ajax cart doesn't update quantity after Shopify script uses .split, and removes item if already split through normal cart"
Sorry, posted it in wrong repo :P

[2016-09-20 01:06] #102 closed

[2016-09-28 17:17] vrehm opened #103 "CartJS.addItem() : item added not there if the cart is refresh ?"
I send this command in the console and everything is fine, item is there

`CartJS.addItem(31015492871, 1, {
            "[shipping_interval_frequency]": "30",
            "[shipping_interval_unit_type]": "Days",
            "[subscription_id]": "21684",
            "[recurring_price]": 29.99
          }
        );`

but if i refresh the cart page, rivetjs seems to fire a removeItemById(), why ?

<

[2016-09-28 17:23] vrehm commented on #103
Hmm, i just find the problem, another script mess with the cart, sorry for disturbing ^^'

[2016-09-28 17:23] #103 closed

[2016-10-08 05:24] pulkit726 opened #104 "New site for "Built With" Page: http://"

[2016-10-09 03:56] #104 closed

[2016-10-09 03:57] gavinballard commented on #99
Ping @stewartknapman

[2016-10-09 22:10] stewartknapman commented on #99
@gavinballard Was that ping regarding #92 ? I'm not sure I know what I was talking about.

[2016-10-09 23:33] gavinballard commented on #99
@stewartknapman Yeah, it was. I'm not sure I know what I was talking about either :).

[2016-10-18 06:02] gavinballard commented on #91
Closing this as I don't believe there is an identifiable issue with Cart.js here.

[2016-10-18 06:02] #91 closed

[2016-10-26 14:09] amit0001 commented on #5
Hey,

It seems like this is what I am looking for to get a callback on:
rv-data-cart-update="index | plus 1 "
in order to check which product type was added/removed from the cart, and adjust the promotions based on the cart items. Is that correct? Can anyone please suggest a workaround?

Thanks

[2016-10-26 22:37] gavinballard commented on #5
@amit0001 The current workaround for this is to use jQuery's global event handlers, something like this:

[code]

Improving the workflow around this is the top priority for the next release... I'm just pretty time-poor at the moment.

[2016-10-28 09:51] amit0001 commented on #5
@gavinballard thanks for the quick reply and offering to help. I tried implementing this workaround,
however since all updates are based on line item numbers this didn't really work. Due to the post processing nature of this handler, the cart line items change, before reaching this point, when an item is removed. The removed item is already gone, making it impossible to get the product ID which wa

[2016-11-01 11:27] amit0001 commented on #5
@gavinballard again thanks for the quick support - appreciate it. So I used the Core API as you suggested and it seems to be working fine. Thanks!

[2016-11-01 23:32] gavinballard commented on #5
@amit0001 Awesome, great to hear! Thanks for your patience. Hopefully we'll have a way to do this that's a lot more developer friendly soon :).

[2016-11-16 03:05] justinmetros commented on #97
Hey Gavin! Ran into similar issues now that Shopify Sections are a thing, which forces rebinding if you use cart as a cart-template section; which seems to be how all the new themes are being built.

What do you think would be the best way to start attacking this? I'm down to help out in any way I can.

[2016-11-16 21:43] gavinballard commented on #97
@justinmetros Interesting, thanks for the report!

I guess the first step in tackling this would be to take a look through the history for [Rivets.js](https://github.com/mikeric/rivets) and seeing if there have been any similar issues or fixes reported.

[2016-11-17 10:27] lmartins commented on #68
@gavinballard Also looking for a solution to this, is this something the library has solved in the meantime or do I need to pursue something similar to what @michaelrshannon describes?

[2016-11-17 20:26] gavinballard commented on #68
@lmartins No change in the released version of the library at the moment I'm afraid. Inventory quantities are [officially no longer returned in the Ajax API](https://ecommerce.shopify.com/c/api-announcements/t/inventory-levels-will-no-longer-be-available-through-the-public-product-json-388079) so for this to work we need a pattern to provide levels via Liquid.

[2016-11-18 00:58] allanarmstrong commented on #68
Because I'm using the data attribute method of adding items to the cart I've found it difficult to add callbacks to the addItem function so I came up with my own work around for an error when adding an item to the cart:
I've added the following code to the request in CartJS.Queue
[code]
I've also added a place holder for CartJS.errorHandling in my own fork of cartjs which looks like this
[code]

B

[2016-11-20 10:29] gavinballard commented on #68
Thanks for sharing @allanarmstrong! We definitely need a better error-handling story.

[2016-12-03 17:34] lmartins commented on #68
Thank you so much for sharing @allanarmstrong, this was indeed helpful.

[2016-12-06 20:29] pfengx opened #105 "New site for "Built With" Page: http://trytheworld.com"

[2016-12-11 22:30] #105 closed

[2016-12-22 23:43] ezgetone opened #106 "New site for "Built With" Page: http://www.ezgetone.com"
How to fix Blocked Resources https://www.ezgetone.com > /cart.js
Rendering without this resource might impair the indexing of your web pages. Learn more.

[2016-12-23 01:08] gavinballard commented on #106
@ezgetone I'm confused - is this a bug request for this JS library, or are you requesting that your site be added to our "Built With" page?

[2016-12-23 03:17] #106 closed

[2017-01-08 14:45] nathanparker commented on #97
Hey @JumpLink - If you only need to use the barba.js templates on page load, a much easier solution would be to fire an event upon completion, then initialize CartJS. Should look something like this....
[code]

@justinmetros - Somewhere in the v0.6.0 - v0.7.0ish release of RivetsJS bundled Sightglass Adaptors functionality which allows objects out of Rivets scope to be watched, unwatched, read, an

[2017-01-18 15:40] omara1 opened #107 "New site for "Built With" Page: https://atlascoffeeclub.com"

[2017-01-25 19:43] lmartins commented on #1
@gavinballard is this currently available? Was looking for a way to display product customisation options (https://help.shopify.com/themes/customization/products/get-customization-information-for-products) and can't seem to find it anywhere in the data retrieved by the API.

[2017-01-26 10:24] lmartins opened #108 "Passing Line Item Properties using the Data API"
Hi, im trying to pass some customisation options for a product, in a site where im using Cart.JS with the Data API method. I've made a few attempts, using both the standard method:
[code]
But also the one mentioned in CartJS docs:
[code]
None of which made any difference. Could you please share if this is something available currently?

[2017-01-26 10:46] gavinballard commented on #1
@lmartins The `data-cart-quantity` attribute is supported, but line item properties aren't I'm afraid. Currently, the way to do this would be to make your entire add form Ajaxable by adding a `data-cart-submit` attribute to the wrapping form, or by capturing the relevant event in Javascript and using the CartJS API:

[code]

[2017-01-26 10:47] gavinballard commented on #108
@lmartins That should be working with the latest version of the library. Do you have an example site I can take a look at to debug?

[2017-01-26 12:14] lmartins commented on #108
Yeah, sorry for the double question @gavinballard
I've just tried and using the Core API instead of Data API I was able to pass the data I need. Thank you so much for your help and comment on both issues.

[2017-01-26 12:14] #108 closed

[2017-01-26 12:15] gavinballard commented on #108
No worries @lmartins, thanks for using the library! Glad you got everything working.

[2017-01-26 12:16] lmartins commented on #108
Oh thank you for making it. It's what makes Shopify so much more pleasant to use for me ;)

[2017-02-01 17:09] Leajen-croft opened #109 "Get Product Image with filters"
Hi,

I'm new to Shopify and to cart.js. I have a off canvas cart and want to get the image with the filters on.

my code is:
[code]

As you can see I have the image coming through like so:
[code]

but it is not using the filter to get the small image, am I doing something wrong?

[2017-02-03 10:06] gavinballard commented on #109
Hi @Leajen-croft, thanks for using the library!

Two issues: first, the image size filter for CartJS is called `product_image_size`, not `img_url` (this is done because we don't support all of the functionality of `img_url` so didn't want to confuse things). The second is that you'll have to ensure the second argument is being passed as a string by wrapping it in quotes.

So please try:

[code]

[2017-02-03 14:30] Leajen-croft commented on #109
Ah, that makes a lot of sense, that has worked perfectly, thank you very much :)

[2017-02-03 14:30] #109 closed

[2017-03-09 19:45] JumpLink commented on #97
@nathanparker thats the way I do, but I have two cart templates, that was the problem but its solved for me

[2017-03-20 04:12] mister-cairns commented on #93
@gavinballard could something like this be leveraged on a single product page?

[2017-03-23 23:54] mister-cairns opened #110 "Single product quantity with a number field"
I'm wondering if the line item functionality from issue #93 could be leveraged for single product pages to either update via + / - or enter a larger value into the number input?

[2017-04-10 15:47] keyurshah commented on #87
what do you think about using formdata for file uploads?

https://www.mkyong.com/jquery/jquery-ajax-submit-a-multipart-form/

thanks for this wonderful library!

[2017-04-26 13:34] devmpet commented on #25
@gavinballard has this been implemented at all? thanks! Matthew

[2017-04-26 13:46] gavinballard commented on #25
@devmpet Not yet! I have approximately zero time to contribute to CartJS at the moment, although I'm always happy to review pull requests and bump new versions.

[2017-04-26 13:52] devmpet commented on #25
@gavinballard completely appreciate that - just wanted to check I was not about to work on something that had already been done but not released yet. Really appreciate the work put into CartJS - very versatile and well thought out! Cheers

[2017-04-26 13:54] gavinballard commented on #25
@devmpet No worries, didn't want that to come off as defensive - just a fact of life at the moment unfortunately! Would love to look at a PR if what you're working on ends up working well :).

[2017-05-01 09:08] spundir70 opened #111 "I am not able to use CartJs giving error"
Hello
I am creating a public app in shopify .
Using the app I am adding rivets-cart.min.js and app.js .
app.js is basically for me where I would like to call CartJs attribute but in console it giving me error

[code]

After that i thought might be js not added successfully so I checked view source of cart page and it added there successfully

[code]
Please suggest what the issue why I am unable to

[2017-05-01 09:17] gavinballard commented on #111
@spundir70 When is your code that's calling CartJS executing? Shopify loads JS files asynchronously so there's no guarantee on their load or execution order.

[2017-05-01 09:22] spundir70 commented on #111
@gavinballard my code is in app.js that i called after rivets-cart.min.js if you will see in my code above

in app.js i simple call

` CartJS.clear()`  just to test if CartJS  working or not but its giving error CartJs not defined
I am unable to get what is the issue ?

[2017-05-01 09:27] gavinballard commented on #111
@spundir70 Right - but just because `app.js` appears after `cart.js` in the list above, there's no guarantee that it will be loaded or executed afterwards.

[2017-05-01 09:31] spundir70 commented on #111
@gavinballard ok fine but can you suggest what should i check now ? For app basically I am using Cakephp library that shopify mention on there site and code adding js like this

[code]

Actually I am stuck here what I can check to make it working ?

and thanks for quick reply

[2017-05-02 05:57] spundir70 commented on #111
@gavinballard Hello Gavin I am just trying to find if issue with my app or its with cart js
what I noticed here is I added cart.js and jquery in theme header and after that in

[code]

It work fine and returning cart details in console . Now What I did I have app.js on my server that have
same code except the script tag as code i am writing in js file
so What I did is

File : cart-template.liquid

[2017-05-05 17:35] JollyBlueMan opened #112 "New site for "Built With" Page: https://jiveprints.co.uk/"
Thanks for the plugin guys. Made the whole process an absolute dream.

You can spy it at work on the mobile version.

[2017-05-05 17:36] gavinballard commented on #112
👍 Nice site!

[2017-05-05 17:41] JollyBlueMan commented on #112
Thanks! I'll tip you my first months referral payment when it comes through. 👍 It's not much but it's all I can do to show my appreciation right now.

[2017-05-05 17:43] gavinballard commented on #112
Haha... appreciated but definitely not needed! Buy yourself a coffee or beer for a job well done :).

[2017-05-19 23:36] ryanwachtl commented on #82
Hello, wondering if there are any updates on full support for Shopify Script editor within the cart?

[2017-05-20 03:01] gavinballard commented on #82
Hi @ryanwachtl - what sort of support do you mean? CartJS is capable of displaying anything returned to us by the Ajax API. Maybe if you can provide some details on your use case we can help you out.

[2017-05-21 17:46] farreal commented on #109
Hi i'm having an issue getting this to work for me. I am have copied and pasted the code exactly as above and i've plugged in 'rivets-cart.min.js' but it just displays the rivet tags as html, am I missing anything really stupid?

[2017-05-21 18:53] farreal commented on #109
Found my solution looking at the example sites using the cart. I was needing `<img rv-src="item.image | productImageSize 'medium'" />` and it needed to be inside the table structure! 👍

[2017-05-24 17:15] panoply opened #113 "Issues with Turbolinks 5"
I'm running into endless issues with integrating with Turbolinks 5. It seems Turbolinks is caching the dom binding events from rivets. This issue from what I can see maybe due to a number of factors. However I am almost 100% sure it's to do with timestamps either Cart.js or Rivets is using. The issue we are facing currently is that if a visitor has browsed several views then each request Cart.js i

[2017-05-25 08:12] gavinballard commented on #113
Hey @panoply, thanks for reporting the issue. Without knowing too much about your specific theme, my guess would be that you're seeing this issue due to the call to `CartJS.init()` being fired on every page load when navigating with Turbolinks, as Turbolinks will evaluate all scripts in the page body on each page load (see [Working with Script Elements](https://github.com/turbolinks/turbolinks#wor

[2017-06-03 17:06] adrianocr opened #114 "Possible to include variant compare_at_price somehow?"
My customer is requiring that the compare_at_price (`{{ item.product.compare_at_price_max | money }}`) value is displayed in the cart below each item price. I can't find a way to output it since the only way I'm familiar with is with liquid syntax but I'm generating the cart grid with cartjs + rivets.

Any help would be appreciated

[2017-06-05 05:52] gavinballard commented on #114
Hi @adrianocr, `compare_at` information isn't provided in the JSON cart object returned by the Ajax API, so in order to do this you'd have to implement either some form of additional lookup to a JSON representation of the product, or (depending on how many products you have in your store) build up a mapping of `product_id`s to `compare_at_price_max` values and use it in your rivets templates.

Ano

[2017-06-08 17:46] Alntjan opened #115 "New site for "Built With" Page: https://mywhey.pt/"
😋

[2017-07-11 12:18] burakkaptan opened #116 "cart/add.js not found"
Hello,

I keep getting "cart/add.js not found" error. How can I solve it?

Thanks

[2017-07-11 12:28] gavinballard commented on #116
Can you provide details / access to the site you're working on?

[2017-07-11 12:50] burakkaptan commented on #116
I'm trying to add ajax functionality to the homepage: https://microstoree.myshopify.com/ . When you hover over the carousel, you'll see "add to cart" link. This is the link that the ajax should work.

== My codes ==
`theme.liquid =>
{{ 'https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/cart.min.js' | script_tag }}`

` theme.liquid <script type="text/javascript">
      jQuery(function($)

[2017-07-13 22:15] capatina opened #117 "New site for "Built With" Page: https://menos.ca"
Thanks!

[2017-07-17 07:06] burakkaptan commented on #116
Hi,

Is there any update on the issue?

[2017-07-17 11:17] gavinballard commented on #116
@burakkaptan It looks like you're using the ID of the product, not the product variant, in the request to `/add/cart.js`. You might want to try `data-id="product.variants.first.id"` in your Liquid.

[2017-07-17 11:17] #116 closed

[2017-07-18 11:13] burakkaptan commented on #116
thanks. it works

[2017-07-19 21:59] maxtkacz opened #118 "Ability to pass item.image (line_item) liquid size filters"
Hi!
Fantastic project - I've just started using it on a Shopify theme. I've been struggling slightly with the rivets/ DOM Binding (I understand that the reference for this is pending).
I took the table from the riverts-cart example on the homepage. I'd like to load images of the line items. Here is a snippet of my addition:
`<tr rv-each-item="cart.items">
                  <td>

[2017-07-19 22:00] #118 closed

[2017-07-19 22:00] maxtkacz commented on #118
Sorry, saw this was a duplicate!

[2017-07-19 22:35] gavinballard commented on #118
@maxtkacz 👍 You got everything worked out OK?

[2017-07-19 22:36] gavinballard commented on #114
Closing this out as unfortunately there isn't anything we can do unless Shopify adds this information to the JSON representation.

[2017-07-19 22:36] #114 closed

[2017-07-19 22:36] #111 closed

[2017-07-19 22:38] maxtkacz commented on #118
Gavin,
Got it working like a beaut mate, cheers!
Works with Shopify's dynamic sizing as well:
` <img rv-src="item.image | product_image_size '96x96' " >`

😀

[2017-08-04 08:07] burakkaptan opened #119 "data-cart-render"
Hello,

I try to implement money formatting to the price after I add the products to my cart, however it seems it doesn't work on my part. I've already included "option_selection.js"

This is my codes:
`        CartJS.init({{ cart | json }}, {
            "dataAPI": false,
            "requestBodyClass": "loading",
            "moneyFormat": "{{ shop.money_format }}"
        });`
` $(".ajax-addto-

[2017-08-04 10:36] gavinballard commented on #119
You've set ` "dataAPI": false`, should that be ` "dataAPI": true` ?

[2017-08-04 11:36] burakkaptan commented on #119
I just changed it as `dataAPI": true`, but it still doesn't work.  If you want, you can look at my codes. I've already given you login permission. Here is the store: https://microstoree.myshopify.com/
Codes are in `theme.liquid` and `snippets/cart.liquid`.

[2017-08-06 05:53] gavinballard commented on #119
Ah, I think I see the issue. `data-cart-render` is pretty simple and doesn't support `| money` formatters as that's Rivets job.

You can use `data-cart-render="item_count"`, `data-cart-render="total_price"`, `data-cart-render="total_price_money"` or `data-cart-render="total_price_money_with_currency"`, but they are the only options supported without bringing in Rivets.

[2017-08-06 05:53] #119 closed

[2017-08-17 20:21] jibinycricket opened #120 "New site for "Built With" Page: https://netaya.com/"
Just launched a new site using CartJS. thanks for making such a fantastic library

[2017-08-17 23:14] gavinballard commented on #120
Thanks @jmathew1991! I'm a bit behind on putting these Built With pages up but I'll get around to it soon!

[2017-08-19 06:23] msguna opened #121 "New site for "Built With" Page: http://www.justurneeds.com"

[2017-08-29 07:25] mike3run opened #122 "Es6 usage"
with webpack or browserify are there any examples

Or maybe wrapping the library as UMD?

[2017-08-29 07:46] mike3run commented on #96
[code]

[2017-08-30 13:24] gavinballard commented on #122
@mike3run I'm not too down with WP or Browserify sorry. Too old school!

If anyone comes across this issue and is able to add some info on this I'll happily add to the docs.

[2017-09-01 15:05] JonMcL opened #123 "New site for "Built With" Page: https://francesdelourdes.com"
Great work on this library!

[2017-09-03 02:29] kyl-newton commented on #68
Are there any plans to implement improved error handling when using data attributes or has this project gone stale?

[2017-09-03 07:15] gavinballard commented on #68
@kyl-newton I would love to implement this (along with a raft of other improvements), but I have pretty much zero time to work on it at the moment. Happily accepting contributions from others.

[2017-09-10 04:36] chienher1998 opened #124 "New site for "Built With" Page: http://"

[2017-09-10 04:37] #124 closed

[2017-09-13 15:33] salasmx opened #125 "How cart.itemsAdded works?"
I'm trying to show a success message anytime an item has added to the cart, do I missing something here?

$(document).on('cart.itemsAdded', function(event, cart) {
    alert("item added");
    console.log( "item added" );
    console.error();
});

None of this throws anything.

[2017-09-20 17:25] dylanspurgin opened #126 "Wrong image shown briefly"
Hi CartJs team. I hope I am posting this in the correct repo. I am not 100% sure if this is a CartJS issue, a RivetsJs issues, or an implementation issue on my end. I have built a cart flyout that responds to the `cart.requestComplete`. When the event is fired it opens to show the contents of the cart.

When two items are added to cart at once, often times the same thumbnail image is shown for bot

[2017-10-11 16:18] jamespeerless opened #127 "updateItem with undefined quantity resets quantity to 1"
Looks like either this was never working or maybe Shopify recently changed how the /change endpoint works and it now requires quantity to be passed?

If you try calling:

CartJS.updateItem(1,undefined);

when you have more than one item in the first line item it will reset the quantity to 1.  Based on the documentation I would expect this to leave the quantity unchanged.

[2017-10-14 09:33] gavinballard commented on #127
Hi @jamespeerless - can you point to where the documentation indicates expected behaviour for an `undefined` call? In any case, this may not be an issue with Cart.js but with the Shopify API.

[2017-10-14 18:11] jamespeerless commented on #127
Yeah I assume it's a change with the Shopify API but here's the snippet from updateItem documentation I was following:

Setting quantity to 0 will remove the item from the cart. Leaving quantity as undefined will leave the quantity of the item as-is.

[2017-10-15 00:17] gavinballard commented on #127
Can you check the actual Ajax API call that's being made when you trigger `updateItem`? If quantity is `undefined` there, it's definitely a problem on Shopify's end.

[2017-10-19 19:00] driespieters opened #128 "product_image_size not working on Slate theme"
Looks like the product_image_size filter isn't working for the Slate theme.

I think it has something to do with the theme not using option_selection.js, is that possible?

[2017-10-20 18:42] benjaminsehl opened #129 "cart.requestCompleted event firing inconsistently."
Wondering if this is a known bug or not and if there are any tips to troubleshooting.

[2017-10-20 21:46] #128 closed

[2017-10-21 01:39] gavinballard commented on #128
@driespieters Did you confirm that this was due to the lack of `option_selection.js`?

[2017-10-21 01:44] gavinballard commented on #129
@bsehl Can you provide some more detail on the issue you're seeing, potentially with steps to reproduce on a demo site?

[2017-10-21 16:23] driespieters commented on #128
@gavinballard correct that was the issue. I should have mentioned that before closing the issue.

Do you think there could be a way to make it work without `option_selection.js`? As I would like to keep the requests down to a minimum.

[2017-10-22 03:34] gavinballard commented on #128
`product_image_size` relies on Shopify's `window.Shopify.Image.getSizedImageUrl` method - I guess you could find the source code for that and attached it to the `window` object yourself in your own JS to avoid an extra HTTP request.

[2017-10-22 14:34] driespieters commented on #128
Ok, I isolated the `Shopify.Image.getSizedImageUrl` and `Shopify.money_format` out of `option_selection.js` and added it to my own JS. 👍🏻

[2017-10-25 02:58] kevmon commented on #18
I love the plugin but I'm stuck on getting images to appear, tried the method above.  Is new documentation still going to happen?  Particularly around Rivets.

[2017-10-25 05:57] gavinballard commented on #18
@michaelrshannon? ;)

[2017-11-21 23:42] justinmetros commented on #82
Just FYI if anyone came here confused about the line-item.message liquid object and CartJs, gotta get it from the JSON object just like Gavin said. In rivets, rv-each-[prop] does the trick, i.e.

[code]

[2017-11-23 23:04] gavinballard commented on #82
Thanks @justinmetros 👍

[2017-12-06 00:10] pjatx opened #130 "Add a note in the documentation warning not to use data-cart-submit on checkout form"
I was implementing CartJS and stumbled significantly when trying to get my cart / checkout form to work properly because I had `data-cart-submit="data-cart-submit"` which was causing the form request to fail.

Would be nice to include a disclaimer for folks that had the same issue as me : )

[2018-01-18 17:00] jorgerock opened #131 "Empty cart after click in Add button."
Hello…

I'm having a recently issue in a shopify store: https://stokke.cl

When we add a product to the cart in the product page the product is correctly added, but the ajax cart show the message "Empty cart".

For example, if the cart have some products, the web console shows this:
[code]

But, after add a product the console show this:
[code]

You can see the original_total_price shows 0 after a

[2018-02-04 20:57] darkrubyist opened #132 "CartJS.updateItemById doesn't update parameters and quantities"
Hi,

I'm using CartJs on my theme and I notice that `CartJS.updateItem` is changing the Quantity and Properties, but when I'm trying to use the method with `CartJS.updateItemById` and same parameters is not working and not changing anything.

### Update Item By Id
`
CartJS.updateItemById(228802494488, 10, { "Quantity": 4 + 'Kg'}, function(data) {
  console.log(data.responseJSON);
})
`

**Response*

[2018-02-09 03:25] Zeindelf opened #133 "New site for "Built With" Page: https://loja.nestlecomecarsaudavel.com.br/"
Awesome lib!

[2018-02-13 23:26] mike3run commented on #122
Hey there I forgot to update but basically is like this:

On theme.liquid (I guess you could do it directly on the JS but 🤷‍♀️

[code]

Then I made a setup file `cart.js`

[code]

You can them import that cart file and do the stuff that's on the docs.

Success!

[2018-02-14 00:30] gavinballard commented on #122
@mike3run - thanks so much for coming back to share this knowledge! I'm going to reopen this issue, just so that we remember to add it to the documentation. Cheers!

[2018-02-14 20:42] vemundeldegard opened #134 "Update cart.total_price in custom code"
Hi!

Loving cartjs, been using it for a long time on my stores. I am working on a count down to free shipping based on the cart.total.price. It should be pretty simple, but I can't get the cart.total_price to be updated based on cart update.

[code]

How may I update this so I don't have to refresh to see changes?

[2018-02-21 19:40] joeldmyers commented on #134
Hey I think you need to remove the colon after minus, which isn't intuitive since that's how it is in liquid
I'm doing the same thing and it's like this and it works

<div id="free-shipping-msg-over-50" rv-if="cart.total_price | gt 5000"><p>Congratulations. Your shipping is free.</p></div>

<div id="free-shipping-msg-under-50" rv-if="cart.total_price | lt 5000"><p>Free US shipping over $50 — ${500

[2018-02-21 20:55] joeldmyers opened #135 "Issue getting money formatted correctly"
Hey so I am using cartjs with rivets in my Slate-based custom theme in Shopify

I'm initializing it like this

[code]

And then I'm trying to get the order total (as one example):

`<span id="side-cart-subtotal-dollar-amount" rv-html="cart.total_price | money Currency.currentCurrency"></span>`

It still comes through as 2000 (if it's $20); i.e., the currency formatting isn't working.

Everything e

[2018-02-21 21:32] joeldmyers commented on #135
Nevermind, I was able to create a custom rivets.formatters.currency value

[2018-02-23 00:18] blimpmason opened #136 "Cart item.properties not displaying"
I'm trying to run through item properties on each line item of the cart, but I can't get them to display. I've double checked the properties exist in the cart JSON object.

I started looking through documentation and checked the example cart at https://cartjs.org/ which allows you to add a custom label as a line item property, but it doesn't seem to work there either.

This is the code I'm using:

[2018-03-05 02:01] nekapoor commented on #93
@gavinballard After implementing this, is there an easy way to then update the "+" and "-" buttons to increment and decrement based on the new value from the quantity text field?

[2018-03-05 07:10] gavinballard commented on #93
Hey @nekapoor - if you're using `+`/`-` buttons, then check out the source code for the incrementer/decrementer on the home page example [here](https://cartjs.org/) - it looks something like this:

[code]

[2018-03-05 16:42] nekapoor commented on #93
@gavinballard hey thanks so much for the response. I tried doing previously but nothing triggers. I tried to inspect your page source to see if you're initializing anything in your js but I couldn't find anything.

So do I keep the "rv-data-cart-update" text as is or do I need to change anything or add any initializing code anywhere?

[2018-03-06 06:06] gavinballard commented on #93
@nekapoor Are you using the Rivets version of the library, and rendering your cart using a `data-cart-view`?

[2018-03-06 15:44] jmathew1991 commented on #135
Leaving a comment to help with future issues.

I've had the same issue before. I was able to solve it by including a script tag to the [option_selection.js](https://cdn.shopify.com/s/files/1/1970/1555/t/11/assets/option_selection.js?10908390968865028277).

I'm pretty sure CartJS uses the money formatters included in the Shopify option_selection script.

[2018-03-06 20:35] joeldmyers commented on #135
Aha awesome thanks :) Good timing, I was just trying to figure out how to get the image sizing working with this and that worked perfectly. Thanks!

[2018-03-07 06:24] gavinballard commented on #93
@nekapoor Check out `https://cartjs.org/pages/guide` for details on the different versions of the library, including the Rivets version - unfortunately we don't have super detailed instructions on Rivets at the moment but the examples on the front page should provide some guidance.

[2018-04-07 21:23] menos-inc opened #137 "New site for "Built With" Page: http://menos.store"
!

[2018-04-11 18:06] nickmealey opened #138 "New site for "Built With" Page: https://heliumdev.com/themes/carbon"
CartJS was a game-changer. We built Carbon to be highly interactive when adding products to cart and this library gave us a great way to maintain the cart state. Highly designed for mobile as well.

[2018-04-12 00:45] #122 closed

[2018-04-25 21:28] jrmyptrs opened #139 "item.image | productImageSize - Adding crop?"
Hi there, thank you for this fantastic library. Quick question, I know when displaying `item.image` I can include the `productImageSize` parameter - but what about crop?

For example, if I was just using Shopify's standard img_url filter, I could do:

`{{ image.src | img_url: '1000x1000', crop: 'center' }}`

But I haven't seen any documentation for adding a crop as well. Any help would be greatly

[2018-05-01 07:50] dbmrana opened #140 "New site for "Built With" Page: https://neemkuni.com/"

[2018-05-04 15:36] kvaldillez commented on #132
I am experiencing this same issue, I am capable of update an item's properties with only "updateItem" and not "updateItemById".

This adds the properties to the line item in the cart correctly:
`CartJS.updateItem(1, 2, {'test': 'hello word'});`

However when I run this, nothing changes:
`CartJS.updateItemById(18806403013, 2, {'test': 'hello word 2'});`

[2018-05-04 21:47] justinmetros commented on #113
I ran into this same issue. I was able to resolve it in the following ways.

1) You need to init cartjs in the DOM after your content ( before </body> ) and add `data-turbolinks-eval="false"` on your script tag as Gavin mentioned. That will get CartJs working, but it won't help with your rivets binding.

2) If using the data api & rivets, anywhere you have an element that is bound, you need to add

[2018-05-06 00:55] gavinballard opened #141 "New site for "Built With" page: https://heliumdev.com/themes/carbon"

[2018-05-07 12:42] panoply commented on #113
While Cartjs served us well for a period of time, we end moving to our entire cart logic over to [Mithril.js](https://mithril.js.org/) (which is an 8kb JS framework) which in turn handled our cart implementation is a very effective manner and came in at a quarter of the size without the need of jQuery.

Cartjs was however very effective in the time we used it. Our solution to having it work in con

[2018-05-07 12:43] #113 closed

[2018-05-07 12:43] gavinballard commented on #113
Thanks for the update @panoply!

[2018-05-15 15:16] austinhutchison commented on #92
My experience here is that `updateItem` will work with a properties parameter, but `updateItemById` does not. Also, it will overwrite existing line item properties.

[2018-07-05 07:08] cswing-github opened #142 "item.propeties not displaying?"
[code]
Is there anything wrong with rv-each-p="item.properties"? I know its an sub-array under item, but I dont know it I am access it correctly because it outputs nothing.

Thank you for your help.

[2018-07-09 19:59] curiouscrusher commented on #132
+1 on this, just ran into this issue this afternoon as well. You can only _update_ an items properties with `CartJS.updateItem()` and not `CartJS.updateItemById()`.
However properties will set correctly when using `CartJS.addItem()`.

[2018-07-14 00:08] brentjacobsen opened #143 "How to use item properties and more complicated logic"
This is more of a question than an issue, but I can't find documentation that gives any examples of this.

Here is the code I am using in another theme:

[code]

Basically, I need to show a custom image in the cart if a product has been customized (the customid is present as an item property). The URL path to the image is different based on the Product Type.

The code above doesn't work when it's

[2018-07-18 12:02] JMKelley commented on #136
This is also not working for me.

[2018-07-18 18:02] xiangcatherine opened #144 "Add support for accessing product tags"
I couldn't find information about accessing product tags in the documentation.

Previously, without CartJS, a note was displayed under the product if it had some sort of 'preorder' tag. Is accessing it possible with CartJS? Is there another way of doing this?

`{% if item.product.tags contains 'preorder-5days' and item.variant.inventory_quantity <= 0 %}`
`{% if settings.preorder-5days-show %}`
`<s

[2018-07-23 16:29] xiangcatherine commented on #126
+1

[2018-07-23 17:19] xiangcatherine commented on #61
@gavinballard

I'm looking into this option:
"On page initialisation, use a GET request to load in product information for each product item in the cart see here, and link that information to your cart model"

Could you give a bit more guidance and information on how to link the information retrieved through the GET request to the cart model?

Thank you - this plug-in is amazing and has helped me

[2018-07-24 21:10] alishagarric commented on #142
Having the same problem

[2018-07-25 11:05] gavinballard commented on #61
Hi @xiangcatherine, thanks for the kind words! It would depend a little bit on how you're planning on using the information. I have pretty limited time for diving into these things these days, but if you can provide a use case I can do what I can.

[2018-07-25 18:13] xiangcatherine commented on #61
Thank you @gavinballard !

My client displays text on the cart page depending on product tags, for instance:

`{% if product.tags contains "preorder-4weeks" %}`
`{% if settings.week2-show %}`
`<div class="complimentary custom-tag-wrap">`
 ` <p>{{ settings.preorder-4weeks }}</p>`
`</div>`
`{% endif %}`
`{% endif %}`

I understand using a GET request to load product information, but how do I link th

[2018-08-06 21:39] iamkeir commented on #68
Just for reference, I prefer the approach detailed in [this gist](https://gist.github.com/gavinballard/1a988d3056d6ecc1f87f) rather than changing core - I use this if it is helpful to anyone:
[code]
Would be great if in due course, Cart.js accommodates success/error status in callbacks. If I have a moment, I will surely PR this!

[2018-08-22 20:29] xiangcatherine opened #145 "New site for "Built With" page: https://www.moderncitizen.com"

[2018-08-23 15:34] blcwright opened #146 "New site for "Built With" Page: http://www.keetsa.com"
Keep up the great work!

[2018-08-24 00:18] #129 closed

[2018-08-28 08:51] IronBrotherz opened #147 "Can you set the pricing for a product?"
Is this option available with the API?

[2018-09-07 19:02] erbanach opened #148 "Can you access metafields in the product object (custom fields from Accentuate Custom Fields) in the cart?"
Hi! This is a support/functionality question. I am using [Accentuate Custom Fields](https://apps.shopify.com/accentuate) with a Shopify project and have added some custom fields to the products. The ACF fields are present on the product object via `product.metafields.accentuate.[key]`.

I am using Cart.js to customize my cart and I was hoping to be able to access some of the values from ACF in my

[2018-09-12 06:19] nathanparker opened #149 "New site for "Built With" Page: https://store.discovery.com"
If you could please notify before posting on the 'built with' list that'd be great.

[2018-09-21 08:43] gavinballard commented on #148
Hi @erbanach - the Shopify Ajax API doesn’t return metafields, so you won’t have access to these. An alternative is to set a globa JS variable with metafield data for your products on page render from Liquid.

[2018-09-21 08:43] #148 closed

[2018-09-25 01:40] gavinballard commented on #91
@farreal Can you please open a new issue and provide a website where we can reproduce the issue?

[2018-10-10 00:10] hcmlopes commented on #147
@IronBrotherz could you please elaborate a bit more on what exactly you are trying to accomplish ?
Just setting an arbitrary price is not available on the client side as this would allow your visitors to change product prices for whatever they desire.

[2018-10-22 08:36] alecb91 commented on #131
Hi,
Did you fix the issue? I seem to be having a similar problem...

[2018-10-23 00:31] kevin-morton opened #150 "Line Item Properties not adding when using data-cart-submit on Product Form"
I've got a standard product form using:

The form has line item properties inside using text inputs and radio inputs.

Shopify's Ajax API adds all the line item properties to the cart correctly when submitting the form as a serialized array:

CartJS does not add the line item properties to the cart.

I also notice that adding the "Custom Label" property on the [CartJS homepage demo](https://cartjs

[2018-11-08 16:03] blcwright commented on #150
I'm also experiencing this issue.

[2018-11-13 22:45] stewartknapman opened #151 "New site for "Built With" Page: https://tattly.com/"

[2019-01-04 16:33] hcmlopes commented on #150
@blcwright @kevin-morton
The issue here is that the code does not work if you have a SPACE in the property name. Change **Custom Label** to **Custom_Label** and you will see it works.

You can even try it live in the cartjs demo page by editing the html on the page and trying to add a note and submitting to cart again.

I will submit a patch that make this a non issue sometime today

[2019-01-09 19:10] blcwright commented on #150
@hcmlopes changed my property name so it does not have a space in it, but it's still not passing line item properties. I'm using a text input. It seems to be a bug since there are a number of other similar issues to this?

[2019-01-09 23:35] hcmlopes commented on #150
@blcwright can you please provide a link to the page where you are having the problem ?

[2019-01-13 12:50] gavinballard commented on #150
Thanks for taking a look at this @blcwright and @hcmlopes. I'm happy to take a look also if there's a publicly accessible page with a minimal reproduction use case.

[2019-01-20 14:45] umxr opened #152 "CartJS cant find jquery"
So, im changing my current theme development for shopify tooling from gulp to parcel. Im doing this for several reasons but the main reason is to reduce the size of our bundles. Ive installed cart js via the npm module and im trying to initialise it but all i get is jquery is not defined. Here is my current setup.

Parcel watches Theme.js -> spits out a scripts.min.js in assets which im importing

[2019-02-04 15:21] Legic opened #153 "Safari - Issue with adding the first product to cart"
This only happens on Safari (Version 12.0.2), if you click add to cart, the cart object it gives you through the event 'cart.requestComplete', is empty. Refreshing the page will show your item in the cart. Any way to fix this? My code relies on the cart object giving the right info.

My code:

[code]

Test link here: https://freddy-dev-store.myshopify.com/collections/all/products/3pro-ballerina-fl

[2019-02-06 09:24] Legic commented on #153
Right. I need this fixed asap, so in the case of the safari bug happening, I'm just getting the data like this:

[code]

[2019-02-11 19:43] liquilife opened #154 "Reading variant ID updated in DOM - How?"
This may be a simple thing. I am not really certain. I am using a method to break out my product variants in multiple select drop-downs. When a combination is selected, a hidden input is dynamically updated with the correct variant ID. This works perfect for a non-ajax submission. However, once the variant ID is updated in the DOM cartjs issues a 422 error message.

Is there a workaround for this?

[2019-02-11 21:02] liquilife commented on #154
I'm an idiot. The inventory was set to 0 for all variants. Updated the inventory and it is working fine. Thanks for an amazing contribution to Shopify.

[2019-02-11 21:02] #154 closed

[2019-02-22 20:07] mcissel commented on #135
[code]

[2019-04-02 03:10] menos-inc commented on #142
Try this
  <span rv-each-property="item.propertyArray < properties" >{property.name} : {property.value}</span>

[2019-04-02 03:11] menos-inc commented on #136
Try this
  <span rv-each-property="item.propertyArray < properties" >{property.name} : {property.value}</span>

[2019-04-02 03:11] menos-inc commented on #142
<span rv-each-property="item.propertyArray < properties" >{property.name} : {property.value}</span>

[2019-04-02 03:11] menos-inc commented on #142
<span rv-each-property="item.propertyArray < properties" >{property.name} : {property.value}</span>

[2019-04-02 03:12] menos-inc commented on #142
` <span rv-each-property="item.propertyArray < properties" >{property.name} : {property.value}</span>
`

[2019-04-02 03:12] menos-inc commented on #142
Try this `<span rv-each-property="item.propertyArray < properties" >{property.name} : {property.value}</span>
`

[2019-04-02 03:12] menos-inc commented on #136
Try this `<span rv-each-property="item.propertyArray < properties" >{property.name} : {property.value}</span>
`

[2019-04-11 18:35] aubergdesign commented on #139
The product_image_size filter appends the size parameters to the base file name, so you can add in the crop through there by mimicking it as it'd be seen on a successfully filtered URL such as `[size_params]_crop_center.`

For example:
`<img rv-src="item.image | product_image_size '350x350_crop_center' ">`

[2019-04-11 18:41] jrmyptrs commented on #139
@aubergdesign thank you!

[2019-04-11 18:41] #139 closed

[2019-04-17 13:08] alexjamesmorris opened #155 "callbacks using Data API"
I want to perform an action following successful add to cart, but I'm using the data api - is there a method to do that?

[2019-04-17 16:51] hcmlopes commented on #155
@alexjamesmorris you shoul dstill be able to listen to the cartjs events

Triggered whenever Cart.js completes processing the current request queue.

[code]
[Here is the event reference](https://cartjs.org/pages/reference#events)

[2019-04-18 07:24] alexjamesmorris commented on #155
That event doesn't seem to fire - I'll try again and see if I've missed anything...

[2019-04-18 07:26] alexjamesmorris commented on #155
Also that covers all requestcomplete events right? so doing something like opening a modal on add to cart would also fire when updating cart... unless there's more specific events I can't see in the docs?

[2019-04-18 15:29] hcmlopes commented on #155
It does cover all request complete so you may have to do some if statements of switch cases. I will warn you that if the event passed in to it can be something other then the event that actually triggered the add/update cart in the first place....This is a bit limited

[2019-05-16 08:40] nemoeric commented on #155
I have the same problem. The `event` param attached to `cart.requestComplete` does not provide the type of request, thus you can not specifically listen to an Add To Cart for instance.

The only way I see it is to create a callback function globalAddToCartListener() that you would add in the success call back of any of your CartJS.addItem() function.

Hope that helps @alexjamesmorris

[2019-05-21 13:17] havardlj commented on #132
Looks like I am running into the same issue, it seems to work if the cart isn't empty.

[2019-05-21 13:22] curiouscrusher commented on #132
There's been a lot of work by the team at Shopify over the last few months on building more tools for Shopify theme building. You should find a suitable replacement for CartJS (minus some of the cool DOM binding via Rivets) over at the [Theme Scripts Repo](https://github.com/Shopify/theme-scripts/blob/master/packages/theme-cart/README.md) @havardlj

It seems that CartJS has gone stale with no upda

[2019-07-09 10:54] goose-works opened #156 "Adding/submitting an order note in the cart"
Is there documentation on how to add an order note to the cart, from the cart? We've been struggling to do this and I'd love some guidance.

[2019-07-09 21:39] hcmlopes commented on #156
You just have to create your own eventListener that then calls CartJS.setNote()
You can find the details here https://cartjs.org/pages/reference#core-api-set-note

[2019-07-10 00:39] goose-works commented on #156
Do you have an example? We are completely striking out on implementing this. We also checked all the cart.js examples, but couldn't find a working one with our setup.

[2019-07-10 15:10] hcmlopes commented on #156
Sorry but I dont have any example. Go to the site where you have cartjs running, open the console and enter something like `CartJS.setNote(prompt("Please add any notes: "))`

this will give you a window prompt to enter the text which will be the cart note itself.

hit enter and that note should now be reflected in the cart which you can check by typing

CartJS.getNote() in the console

[2019-07-17 21:56] Mistermo716 opened #157 "Cannot update line-item properties when using updateItemById() function"
`CartJS.updateItemById(17038733508, 2, {"name":"test"});`
I tested this demo site for reference: https://www.trytheworld.com/ and still would not work. If the properties are removed the quantity gets updated correctly. Am I doing something wrong?

Just saw issue #92 and I see the suggested workaround.

[2019-08-08 08:53] joaqib opened #158 "Cart Disappears when you hit the Back Button"
Hi, I have seen this issue closed in the past. But seems that it is not fixed yet or found an alternate method.

The problem I see with all Stores using CartJS I know, tested on:

https://tattly.com/
https://www.blacklimba.com/
https://www.pompeiibrand.com/
https://www.buttonwatch.com/

Is that whenever you add an item to the cart and press the back button. As the page is in Browser Cache it does

[2019-08-09 17:00] e316 commented on #158
This is happening with my also. I have tried everything.

[2019-09-15 00:07] menos-inc commented on #158
We are having the same issue. My best guess is that the new back-forward caching is ruining cart.js for good...

[2019-09-15 00:11] menos-inc commented on #158
@gavinballard is it possible to look into this? We have a ton of customization done with cartjs, and our store is now very broken.... it's impossible for us to use another solution at this point

[2019-09-15 06:33] gavinballard commented on #158
Thanks for raising this issue @joaqib. I can confirm that I can replicate the issue on the latest version of Chrome (`Version 77.0.3865.75 (Official Build) (64-bit)`) on my Mac.

As this is browser-level caching though, I'm not sure what Cart.js can do to address this. I'm also seeing the same issue with sites that do full-page submission when adding a product to cart (https://www.brooklinen.com).

[2019-09-15 12:49] menos-inc commented on #158
Thank you for the reply @gavinballard im still looking into it, but one thing I noticed is that using the Shopify ajax API with wrapper https://help.shopify.com/en/themes/development/getting-started/using-ajax-api#wrapper-library-use-one-or-not

With the following code:
[code]

Displays the correct count on back/forward navigation, whereas cartjs does not.

I hope that helps

[2019-09-15 23:13] gavinballard commented on #158
@menos-inc Yes, I suspect that if you did a similar thing with Cart.js (made an Ajax request on any page load to pull in the latest version of the cart), then you would get an up-to-date version of the cart being rendered.

By default, Cart.js doesn't make an Ajax request to load the cart when a page loads - the example initialisation code loads the current cart state from a JSON representation re

[2019-09-16 07:00] menos-inc commented on #158
@gavinballard Yes that was the issue. The browser is serving a cached version of {{ cart | json }} to Cart.js when going backwards or forwards.

This is fixing it for me:
1. Include the Shopify Ajax wrapper
[code]

2. Make a request to get the cart and pass it to Cart.js
[code]

It might not be the prettiest solution, but definitely a quick one.

Thank you!

[2019-09-20 04:54] gavinballard commented on #147
Closing as I don't think this is a Cart.js issue.

[2019-09-20 04:54] #147 closed

[2019-09-20 08:38] gavinballard commented on #112
No longer on Shopify (😢)

[2019-09-20 08:38] #112 closed

[2019-09-20 08:39] gavinballard commented on #115
No longer active.

[2019-09-20 08:39] #115 closed

[2019-09-20 08:39] gavinballard commented on #117
@menos-inc Is this site still active on Shopify?

[2019-09-20 08:42] gavinballard commented on #121
No longer active.

[2019-09-20 08:42] #121 closed

[2019-09-20 08:43] gavinballard commented on #123
@JonMcL is this site still using Cart.js?

[2019-09-20 08:44] #133 closed

[2019-09-20 08:45] gavinballard commented on #137
Closed as duplicate of #117.

[2019-09-20 08:45] #137 closed

[2019-09-20 08:49] gavinballard commented on #140
Site no longer active.

[2019-09-20 08:49] #140 closed

[2019-09-20 08:49] gavinballard commented on #141
Dupe of #138.

[2019-09-20 08:49] #141 closed

[2019-09-20 08:58] gavinballard commented on #149
@nathanparker Bit of a delayed response here sorry! Doesn't look like the store is using Cart.js any more?

[2019-09-20 09:15] #107 closed

[2019-09-20 09:15] #120 closed

[2019-09-20 09:15] #138 closed

[2019-09-20 09:15] #145 closed

[2019-09-20 09:15] #151 closed

[2019-09-20 09:28] gavinballard commented on #131
Closing due to inactivity. Happy to investigate similar issues if presented with reproduction steps.

[2019-09-20 09:28] #131 closed

[2019-09-20 09:29] gavinballard commented on #28
Closing due to inactivity. Happy to investigate similar issues if presented with reproduction steps.

[2019-09-20 09:29] #28 closed

[2019-09-20 09:31] gavinballard commented on #144
Closing in deference to the discussion in #61.

[2019-09-20 09:31] #144 closed

[2019-09-20 09:32] gavinballard commented on #155
Thanks for the discussion on this everyone!

Closing this as an issue as adding support for more event callbacks is covered in #5.

[2019-09-20 09:32] #155 closed

[2019-09-20 09:34] gavinballard commented on #157
Thanks. Closing this as a fix would be addressed with #92.

[2019-09-20 09:34] #157 closed

[2019-09-20 09:35] gavinballard commented on #156
Closing this as I don't believe it's actually an issue with the library, and [setNote](https://cartjs.org/pages/reference/#core-api-set-note) is currently documented.

[2019-09-20 09:35] #156 closed

[2019-09-20 09:36] gavinballard commented on #153
@Legic is this still an active issue for you?

[2019-09-20 09:39] gavinballard commented on #125
There currently is no `cart.itemsAdded` event that triggers, although a [PR was started](https://github.com/discolabs/cartjs/pull/76) to tackle those as per the discussion in #5 (refer to the PR as to why that's not currently merged).

Instead, you have to use `cart.requestComplete` and inspect the payload coming back.

Closing this as this is covered in #5.

[2019-09-20 09:39] #125 closed

[2019-09-20 10:05] #130 closed

[2019-09-20 10:05] #135 closed

[2019-09-20 10:05] #150 closed

[2019-09-20 10:07] gavinballard commented on #135
There is a note about this in the docs, but I've just released an update that will add a console warning if you're in debug mode and you attempt to use the money formatter without having loaded the Shopify library.

[2019-09-20 10:08] gavinballard commented on #130
@pjatx thanks - have added a note in the documentation on this.

[2019-09-20 10:09] gavinballard commented on #150
@kevin-morton @blcwright @hcmlopes I have pushed a fix for the spacing issue in release `0.4.3`.

@blcwright - do you think the `data-cart-add`/`data-cart-submit` conflict is a genuine bug, or a documentation issue?

[2019-09-20 12:09] menos-inc commented on #117
Yes, but the domain is now https://ippodotea.com

[2019-09-20 12:11] JonMcL commented on #123
No, actually they recently switched over to a Shopify theme that I didn’t develop. :(

[2019-09-20 23:03] gavinballard commented on #123
Ah, bummer. Sorry to hear that!

[2019-09-20 23:03] #123 closed

[2019-09-30 06:52] Legic commented on #153
Yes. I'm still using the ajax native call for this.

[2019-10-03 03:25] JakeDFox opened #162 "Function fires twice in quickview modal"
Using - CartJS.addItem(var_id, qty); - function in quickview.js causing double adds if you add and remove same item from cart. Looks like function is being triggered twice. Any help would be greatly appreciated. Dev store - https://petitisvilainsdev.myshopify.com/collections/all
Thanks! Jake

[2019-10-08 11:51] doideaco opened #163 "Product customisations not being added"
Are there extra steps required to pass product customisations to the cart? Currently all we use is ` $(function() {
      CartJS.init({{ cart | json }}, {
          "moneyFormat": "{{ shop.money_format }}",
          "moneyWithCurrencyFormat": "{{ shop.money_with_currency_format }}"
      });
  });`

https://help.shopify.com/en/themes/customization/products/features/get-customization-information-f

[2019-10-18 05:04] ahmet412 opened #164 "https://www.phd.co.nz/"

[2019-11-01 20:00] blcwright commented on #150
@gavinballard apologies for the extra late reply here :)

I don't believe this is a genuine - I would label this as a documentation issue! Thanks again for all you do!

[2019-11-06 00:29] bradleyDouglas opened #165 "data-remove-item working and not working?"
Hello

Thanks for the library, really appreciate it.

I used the 'data-cart-add' on my product pages and it works perfectly.

Currently, I'm working on building the cart page functionality. I'm trying to use 'data-cart-remove' on my line items to remove them. I'm passing in the ```{{forloop.index}}``` as the value.

When I click the remove icon, I would expect it to remove the item and update the

[2019-11-06 02:23] davemerwin commented on #165
A code sample would be great. Can you show us the code you are using to remove the item?

[2019-11-06 02:25] bradleyDouglas commented on #165
Scratch this. I didn't read very well. Needed to use rivets. It works great now.

[2019-11-06 02:25] #165 closed

[2019-11-10 07:20] JakeDFox commented on #162
Discovered the issue, caused by an edit I had made to the quickview.js file

[2019-11-10 07:20] #162 closed

[2019-11-19 17:33] yopley opened #166 "cartJS.cart.item empty sometimes when i send order."
When i send my order with an ajax request, sometime send order without items. I think its because cartJS is empty before sending order. Some variable on my order depend to cartJS properties like cartJS.cart.item and cartJS.cart.attribute.

voici le code

`<form class="order-form" id="clientOrderForm">
<input type="submit" class="btn full big-submit" value="{{ 'cart.checkout' | t }}" />
</form>

<d

[2019-11-20 06:17] adamrasheed opened #167 "New site for "Built With" Page: https://drinkolipop.com"

[2019-12-02 11:10] al1973 opened #168 "Redirecting to Cart Page and Success Message"
I'm using the Data API to add an item to the cart using a submit form on my product page.
Like this:

`<form action="/cart/add" method="post" data-cart-submit>`

It works, and I'm using a requestComplete event listener to update the cart count. But, I also want to display success or error messages after clicking "Add to Cart" button.

Is this possible using the 'data-cart-submit' or do I need to u

[2019-12-02 19:33] doideaco commented on #136
Bumping this. Can't get this working at all. Kind of a deal breaker :(

[2019-12-03 10:02] gavinballard commented on #163
Moving discussion of this to #136.

[2019-12-03 10:02] #163 closed

[2019-12-03 10:02] gavinballard commented on #142
Moving discussion of this to #136.

[2019-12-03 10:02] #142 closed

[2019-12-03 10:05] gavinballard commented on #136
Hi @blimpmason, @JMKelley and @doideaco (apologies if this is waaaay delayed).

If this is still an issue for you, can you please shoot through links to a site where I can reproduce? The demo on the https://cartjs.org home page still seems to be working. There was a semi-recent release of Cart.js (#161) that addressed an issue with space in line item property names when using the `data-` API. Perh

[2019-12-04 20:01] blimpmason commented on #136
It's been a while, but I think I was able to get around this issue by using the the rivets-cart dist bundle rather than importing rivets and cartjs separately into an ES6 module. This meant I coudn't really include cart js in my project ES6 modules at all — it had to be loaded separately.

As an aside, I'm looking to build a jQuery free dynamic cart and I'm considering using [tinybind](https://git

[2019-12-04 23:47] gavinballard commented on #136
Thanks @blimpmason! Good to know, sorry that it's a bit of a pain with the ES6 modules - definitely something I've run into as well.

Tinybind looks neat, thanks for letting me know! As much as I would love to say I'd be happy to collaborate, given my current availability I think I'd be setting you up for disappointment ;). Totally keen to be kept in the loop and offer consultation though if that

[2019-12-05 14:06] hcmlopes commented on #136
@blimpmason I had also talked to Gavin about on a next gen cart.js. I would love to be a part of this if you are taking volunteers

[2019-12-10 18:10] xmadscientist opened #169 "New site for "Built With" Page: http://olsatools.com"
We used cart.js to build our dynamic cart qty updates!

[2019-12-10 21:49] al1973 commented on #168
Instead of using the ajax success and error messages I used the Data api in my form:
`<form action="/cart/add" method="post" data-cart-submit>`

and using the request complete event listener I just checked the value of my item_count. If it increased I display the "Product Added" message; if it stays the same I display a product unavailable message.

`<script type="text/javascript">
 let count = $(

[2019-12-11 07:03] akhilgoel95 opened #170 "Link Cart to Customer Account Profile"
How can I link the products added to cart to the customer account if the user is already login in the browser?

[2020-01-03 07:00] jonathanmoore opened #171 "Add support for adding multiple items at once"
Recently Shopify updated the AJAX API to accept an array of items when posting to `/cart/add.js`.  This allows for the same functionality of adding one single item by variant ID or now adding multiple items with one single post.
https://help.shopify.com/en/themes/development/getting-started/using-ajax-api#add-to-cart

### Add Single Item: POST data
[code]

### Add Multiple Items: POST data
[code]

[2020-01-06 23:44] Legic commented on #153
As of now, this has still not been fixed. Still using the work-around.

[2020-01-19 23:43] KuznetsEnvy commented on #136
@gavinballard , thanks a lot for this useful tool.
Is there hope this issue will be fixed in foreseeable future?

I'm struggling to set up my site with Tinybind, that's probably more than I can handle.

[2020-01-20 23:40] gavinballard commented on #136
@KuznetsEnvy I'm still not sure what this specific problem is - do you have a similar problem? If so, please provide a site that reproduces the issue and steps to reproduce and I can take a look when I can.

[2020-01-21 22:25] KuznetsEnvy commented on #136
Uh... I thought I had this issue. But while describing you the details – I discovered that I just didn't put properties to cart items in the first place.
Problem solved. Sorry for the inconvenience.

[2020-01-22 07:12] gavinballard commented on #136
Okay, thanks @KuznetsEnvy. I'm closing this in the absence of a reproducible example.

[2020-01-22 07:12] #136 closed

[2020-02-06 00:40] bodog commented on #171
@jonathanmoore we also planned to work on a PR for this with @gorgonfreeman. We'd be keen to see your work on this to make sure you haven't already done the work we intended to do :)

[2020-02-06 00:44] gavinballard commented on #171
Hey @jonathanmoore, this is great! Terribly sorry but I totally missed the notifications on this one.

Thanks for opening the PR - would love a couple of extra eyes on it (@bodog / @GorgonFreeman)?

Will definitely want to update the Data API to use this under the hood, rather than the existing queue system.

Somewhat annoyingly, the response value from this new endpoint returns only updated items

[2020-02-06 03:26] jonathanmoore commented on #171
@bodog You can see the "hacked together" PR at https://github.com/discolabs/cartjs/pull/172.  It's not elegant, but it did the trick for what we need to ship recently.

[2020-02-06 04:05] bodog commented on #171
Thanks @jonathanmoore I'll ask @gorgonfreeman to review and see when we might have capacity to contribute, if it's even necessary :)

[2020-02-16 00:43] dhruveonmars opened #173 "Frequently fails to addItem"
I'm building a theme locally, and have this inside a click function to add items to the cart.

[code]

However, it frequently fails with the following error and warning returned in the log;
[code]

Is this normal behaviour, or is there any reason that this could be happening? It seems to be happening in my local copy and the online version of the theme preview. Or is `addItem` only meant to be use

[2020-02-19 19:24] jackrvaughan commented on #173
Hi @dhruveonmars - I recently ran into a similar error. My issue was that the I had already added all of the available items to the cart, so none were remaining.

I suggest console.logging the jqXHR response in the error function to see what your issue is. Specifically, check out jqXHR.responseJSON.

[2020-02-26 01:44] dhruveonmars commented on #173
Thanks for that @jackrvaughan. That seems to be the reason it fails most of the time

[2020-02-26 01:44] #173 closed

[2020-03-03 19:39] dhruveonmars opened #174 "CartJS.cart.items delayed"
So when I log or run anything against CartJS.cart.items, it always seems to be a step behind CartJS.cart, and I'm not sure how that's possible.

For eg,

After adding an item to the cart, I want to update the cart in the header. To do this, I call a function `refreshSidecart();` inside the success function of the CartJS.addItem request.

In refreshSidecart, I am able to log CartJS.cart, which show

[2020-03-03 21:40] xmadscientist commented on #169
Any update here? :-)

[2020-03-09 13:45] choujar opened #175 "Unable to init"
Hi folks,

I've tried to follow the setup very closely as per the guide, but right at the init:

`CartJS.init({{ cart | json }}, { dataAPI: true });`

I get this error:

`cart.min.js:5 Uncaught TypeError: Cannot read property 'items' of undefined
    at cart.min.js:5`

I know that:
- jQuery is working
- CartJS is included

What's the step that I'm missing?

Thanks in advance!

[2020-04-02 00:08] alastairlangridge commented on #114
Hi did you ever figure this one out? Struggling with it, client has the same request. Im able to add it in initially with the json that I initialize the plugin with, but when adding an item to the cart, the update doesnt pull through any compare_at_price data.

[2020-04-15 16:25] vikasranjan88 opened #176 "Add Discount Coupon"
Is there a way to add a discount coupon. I am adding a combo widget. If someone adds the combo pack all the item is added in the cart.  I want to add the discount code at the same time.  I am using rivets-cart.min.js

[2020-04-21 09:04] KevinSupertramp commented on #174
Hi there, same problem here. I use the "success" callback to update my cart totals and it is always a step behind. It looks like there is a delay for update the CartJS.cart JSON?

[2020-05-12 03:35] joeldmyers commented on #96
I am not sure (writing this at the end of a long day), but I think the issue with this compatibility with Webpack could be fixed very easily -

`if ('rivets' in window)` (line 531) - if you just change this to `if (rivets)`. There is maybe a cleaner way to do this as far as variable scoping, but this works.   Webpack runs in Node, so the window object is not available, so this conditional fails ev

[2020-05-12 03:46] gavinballard commented on #96
Thanks @joeldmyers. Happy to make those minor tweaks, I'll have a look a bit later in the week.

The Node version is probably super ancient.

[2020-05-12 04:18] joeldmyers commented on #96
Cool! For you it's literally just changing that one line, the other stuff
is just notes for anyone else using Webpack for how to get it to work.
Thanks!

On Mon, May 11, 2020 at 11:47 PM Gavin Ballard <notifications@github.com>
wrote:

[2020-05-16 07:02] #96 closed

[2020-05-16 07:02] #171 closed

[2020-05-16 07:12] gavinballard commented on #176
Discount codes can't be added via the Ajax API, so this is outside the scope of Cart.js. Sorry!

[2020-05-16 07:12] #176 closed

[2020-05-16 07:16] gavinballard commented on #175
Hi @choujar, apologies for the delayed response on this. I have very limited time for Cart.js these days.

If this is still an issue, can you please point me to a publicly-accessible Shopify site that reproduces the issue, ideally as a minimal test case (ie without lots of other third party libraries that may be causing the issue)?

[2020-05-16 07:18] gavinballard commented on #174
Hi @dhruveonmars and @KevinSupertramp, apologies for the delayed response on this. I have very limited time for Cart.js these days.

If this is still an issue, can you please point me to a publicly-accessible Shopify site that reproduces the issue, ideally as a minimal test case (ie without lots of other third party libraries that may be causing the issue)?

Sounds like there may be some caching i

[2020-05-16 07:19] gavinballard commented on #170
Hi @akhilgoel95, apologies but I'm not 100% sure what you're asking here. I'm going to close this out but feel free to reopen if you're able to provide more detail.

[2020-05-16 07:19] #170 closed

[2020-05-16 07:21] gavinballard commented on #168
Thanks for documenting your solution @al1973!

For anyone else finding this issue, there is quite a lot of discussion around handling these different scenarios in the `requestComplete` callback in #5.

[2020-05-16 07:21] #168 closed

[2020-05-16 22:36] #149 closed

[2020-05-16 22:38] #146 closed

[2020-05-16 22:38] gavinballard commented on #164
Site seems closed, closing this PR but feel free to reopen if the site comes back up.

[2020-05-16 22:38] #164 closed

[2020-05-16 22:40] gavinballard commented on #167
@adamrasheed Not sure if this site is currently using Cart.js - couldn't find it in the console. Point me to the page / LMK if no longer valid?

[2020-05-16 23:12] #117 closed

[2020-05-16 23:12] #169 closed

[2020-05-28 12:15] dhruveonmars commented on #174
Hey @gavinballard sure. Will try and get a development site up soon that's publicly accessible and doesn't have the timeouts

[2020-06-18 14:29] dhruveonmars commented on #174
Hey @gavinballard, Sorry for the delay.

I have a development version of the site I was building setup, and is publicly accessible. [https://black-lines-development.myshopify.com/products/test-product](https://black-lines-development.myshopify.com/products/test-product).

I need to remove the third-party libraries and the timeouts that were added

[2020-06-30 23:55] gavinballard commented on #174
Thanks @dhruveonmars! Is the JS code you're using for the sidebar rendering easily accessible?

[2020-07-10 04:26] stewartknapman opened #183 "Built With: remove Lainee Hermsen"
Unfortunately Lainee Hermsen is no longer on a theme that uses cartjs, so it can be removed.

[2020-07-13 14:57] dhruveonmars commented on #174
Hi @gavinballard I've added a console.log when you press the 'add to cart' button, so you'll be able to find the code. It looks like Shopify is reformatting the code on the theme publishing, so let me know if it's not quite so readable and easy to follow in the web inspector, and I can upload a copy of the theme.js file which has the 'add to cart' functionality.

I have left the timeouts that were

[2020-07-18 06:10] gavinballard commented on #174
Hey @dhruveonmars, currently looks like some CSS/JS issues on that development site.

[2020-07-18 08:32] dhruveonmars commented on #174
Hey @gavinballard, sorry about that. Fixed that so you can have a look now

[2020-07-28 21:24] adamjw3 opened #184 "strange behaviour when removing items"
https://demamiel-new.myshopify.com/products/altitude-oil

When i add a product all works fine, but when i remove the item from the basket and display the "you don't have any items" text the cart glitchs out and won't close.

[2020-08-13 22:36] #158 closed

[2020-08-13 22:56] gavinballard commented on #174
@dhruveonmars can you please try updating to v1.0.2 of Cart.js (just released) to see if the new cache-busting code addresses this problem?

[2020-08-31 18:33] tywayne opened #189 "Non-rivets build triggers ReferenceError"
An attempt to read a `rivets` variable that has never been defined in the cartjs only build causes an error, not allowing anything else to work.

`Uncaught ReferenceError: rivets is not defined`

### Steps to reproduce:
1. Install `/dist/cart.min.js` into a document
2. Open developer console

### Basic reproduction
[Codepen here](https://codepen.io/tywayne/pen/MWyvoQp)

[2020-09-01 04:21] capatina opened #191 "New site for "Built With" Page: http://"
Hello,

We've redesigned ippodotea.com - can you please update the homepage image?

Thank you!

Sebastian

[2020-09-01 04:22] capatina commented on #191
@gavinballard

[2020-09-03 02:51] sebszocinski commented on #189
Having the same issue here, is there a fix for this? i'm importing `rivets` and then `CartJS` directly below it:

[code]

This gives me `rivets is not defined` in my console log.

However if I take out `CartJS` and do a `console.log(rivets)` i'm getting rivets object logging....

[2020-10-18 23:14] dhruveonmars commented on #174
hey @gavinballard , I've been testing and it still seems to have a delay. 1.0.2 also seems to require rivets, but I didn't think it was required before

[2020-11-10 19:38] capatina opened #192 "Update CartJS to use the new Shopify selling_plan feature"
Hi @gavinballard ,

We are looking to sell subscriptions on our site and are looking to use cartjs with the new selling plans:

https://shopify.dev/docs/themes/ajax-api/reference/cart
https://shopify.dev/docs/themes/liquid/reference/objects/selling-plan

Would it be possible to get support in cartjs for this?

Thank you!
Sebastian

[2020-11-10 22:10] capatina commented on #158
Another workaround:

[code]

[2020-11-11 22:05] gavinballard commented on #192
Hey @capatina, I think this should be doable pretty easily! Will have a look when I can.

[2020-11-11 22:17] capatina commented on #192
Yes, yes it's quite easy:

[code]

[2020-11-11 22:19] gavinballard commented on #192
Thanks @capatina. I'm probably going to want to keep the method signature the same to avoid this being a breaking change, so it may be something like including `selling_plan_id` as a key in the `properties` hash.

[2020-11-11 22:20] gavinballard commented on #192
Oh sorry, I see you've created a new method `subscribeItem`! But I still think I would want this to be an extension of `addItem` to keep the footprint small.

[2020-11-11 22:28] capatina commented on #192
Yes, that makes more sense. I was expecting it to be more complicated than it actually turned out

[2020-11-14 07:55] #192 closed

[2020-11-14 07:55] #183 closed

[2020-11-14 07:55] #191 closed

[2020-11-14 08:00] gavinballard commented on #192
@capatina Released in v1.1.0. Thanks!

[2020-11-14 08:00] gavinballard commented on #189
Fix released in v1.1.0. Thanks @tywayne and @sebszocinski!

[2020-11-14 08:01] #189 closed

[2020-11-20 00:18] yi-bbc opened #195 "How to import CartJs and Rivets from rivets-cart.js using webpack"
I notice rivets is exported through module.exports, Cartjs is exported through exports

[2020-12-16 00:23] cbuteau commented on #184
Don't see it...maybe something is stuck in your cache?

[2020-12-16 00:27] cbuteau commented on #126
No repro.

[2020-12-19 19:25] capatina commented on #25
this is of interest

[2021-01-21 10:56] ajbater opened #196 "Not showing correct currency"
No matter whether I use `rv-html="cart.total_price | money Currency.currentCurrency"`, `rv-html="cart.total_price | money"` or `data-cart-render="total_price_money_with_currency"` my prices are coming through with a $ instead of a £.

My HTML with currency for this store is `£{{amount}} GBP` and HTML without currency is `£{{amount}}`, and I have placed this `{{ 'option_selection.js' | shopify_asse

[2021-02-05 14:09] doideaco opened #197 "Certain products won't add to Cart"
As per title, seemingly random products fail to get added to cart. Have updated to latest build version. Can't seem to find any obvious differences with the products. Can share a preview link privately.

[2021-02-05 14:44] doideaco commented on #197
Malformed html from shopify wysiwyg was breaking the form on certain products... nice

[2021-02-05 14:44] #197 closed

[2021-02-15 15:45] msev opened #198 "CartJS & Shopify multiple languages store ?"
Hi,

With the native translation API from Shopify, we can now have this kind of URL : site.com and site.com/fr or site.com/de

But the response from CartJS is always using this structure :

- site.com/cart.js,
- site.com/cart/add.js
- site.com/cart/change.js
- site.com/cart/update.js
- site.com/cart/clear.js

It would be great to add the current language in the structure : site.com/**fr**/cart.js

[2021-02-25 17:41] doideaco opened #199 "Reflect tax/VAT in cart total price"
Need to be able to apply the tax multiplier when using 'data-cart-render="total_price_money_with_currency"'

I'm sure this straightforward, I can use times 1.2 | money in rv-html attributes just fine just not on data-cart-render

[2021-03-03 14:38] nikkodelacruz opened #200 "Unable to get the status message if can't add more products in the cart"
This is the code that I'm using from cart js
[code]
But the problem is I can't get the response that shows this
[code]
And I need to display It on the frontend to notify the customer

[2021-03-03 16:34] AgustReon opened #201 "Product tags undefined"
Hi,

All products in the store I'm working on have tags on them yet they are all undefined in CartJS.cart
[code]

I can see the tags when I use normal liquid syntax.
[code]

Is this a bug or is there something required in init to access tags?

If not is there a way to get the handle from CartJS and access `{{ all_products[CartJS.cart.items[index].product.handle].tags }}`?

[2021-03-05 18:34] explorier opened #202 "npm install error on node v15.9.0"
Hi there! Trying to install the latest version of CartJS via NPM, and getting this error. I guess this may be an issue with the version of node-sass CartJS uses?

`npm ERR! code 1
npm ERR! path /Users/tigre/Projects/everybody-world/node_modules/shopify-cartjs/node_modules/node-sass
npm ERR! command failed
npm ERR! command sh -c node-gyp rebuild
npm ERR! gyp info it worked if it ends with ok
npm ER

[2021-04-05 08:06] KevinTwitchLA commented on #196
I'm having the same problem with rv-html="cart.total_price | money Currency.currentCurrency" in the cart. The currency symbol does not change with the price in the cart.  It stays as $. @ajbater did you find a solution?

[2021-04-05 19:03] KevinTwitchLA commented on #196
@ajbater I found a solution that uses the general settings for money formatting. Use "money_with_currency" instead of "money". ### rv-html="cart.total_price | money_with_currency Currency.currentCurrency
That's switched the currency symbol for me.

[2021-04-07 22:51] haroldao opened #203 "New site for "Built With" Page: http://shop.thenewcompany.com/"

[2021-04-19 08:42] psydigital commented on #200
+1

@discolabs how do you get the error bag from the requestComplete returned event?

[2021-05-29 04:18] Sanj718 opened #204 "cart.requestComplete Vanilla js?"
Hello!
I want to know if you help to understand how events are working on vanilla js?

[code]

Thank you

[2021-06-06 19:09] mhcdev opened #205 "'selling_plan_allocation' key is showing up twice in CartJS Line item properties."
Somehow 'selling_plan_allocation' key is appearing 2x in my cartjs cart item objects.  I have double checked the data being passed into cartjs and it only appears once.  I am using the latest version of cartjs.

<img width="983" alt="Screen Shot 2021-06-06 at 2 43 49 PM" src="https://user-images.githubusercontent.com/1228154/120936935-a0539580-c6d8-11eb-9794-2ce0182f77c7.png">

[2021-06-21 11:46] kevin-ryser commented on #174
Hi everyone, I'm using the latest version (1.1.0) and I can confirm this is still happening.

[2021-06-25 22:37] obliviga opened #206 "Feature: Option to output price without currency symbol"
I'm able to output an item's price by doing this: `<span rv-html="cart.total_price | money Currency.currentCurrency"></span>` `// $48.00`

I wish there was a way to output the item's price without the currency symbol, maybe something like this: `<span rv-html="cart.total_price | money_without_currency Currency.currentCurrency"></span>` `// Desired output: 48.00`

Thanks!

[2021-07-01 08:20] kevin-ryser commented on #174
I was able to quickly fix this - not the cleanest - but you'll get the "why" it's happening.

1. With the update function: I'm using the "success" Ajax callback which is called before the cart update function (= cart.items not updated yet) so I've changed "push" by "unshift" so the cart update is always called first in the Queue.add function:

[code]
by
[code]

2. For addItem, addItems functions,

[2021-07-02 08:18] Topenze opened #207 "New site for "Built With" Page: http://nunoo.eu"

[2021-07-05 22:43] ominixamf opened #208 "cart.requestComplete not firing?"
Hi,

Out of nothing i noticed the event `cart.requestComplete ` stopped being fired in my store https://kooki.com.br, although item is added to cart as I can see the /cart/change.js request success and at the cart page (https://kooki.com.br/cart)

Current theme has rivets-cart.min.js v 1.0.2.

The store has few access, I don't manage it that much so I can't tell exactly when it stopped working. I

[2021-09-01 17:11] Nishuskamal000 opened #209 "How can I add Error message when exceeding the product quantity in Mini cart?"
I want to display an error message when the customer exceeds the limit of the product quantity in the mini cart.

[2021-09-03 16:34] EricCarey286 opened #210 ""Required parameter missing or invalid: items" Error when adding to cart"
I use Cart.js to upsell warranty products on my cart page. I found a solution on Shopify's site using an upsell.liquid file and JavaScript. I am fairly new to Shopify and not sure how everything works. The products get added underneath the car with a button that says add to cart but the button does nothing. When i check the console I see this error: POST : https://wi-plum-test.myshopify.com/cart/a

[2021-09-09 11:14] adornthemes opened #211 "Callbacks functiona not wroking when I set selling_price option"
I use Cart.js to one of my new project but getting issue when set "selling_plan". After this Callbacks functions not working.
below is my code.

`CartJS.addItem(att, qty, sellp, props,{
          "success": function(data, textStatus, jqXHR){
             setTimeout(function() {
             	$("body").removeClass("loading");
               	$('.header-cart').trigger('click');
             },1000);

[2021-09-21 11:43] thagxt opened #213 "Convert"
I'm not able to convert the following liquid code in cart.js/rivets.js format. Do you've any suggestions?

[code]

[2021-09-26 20:32] atlastc opened #214 "New site for "Built With" Page: https://atlasteaclub.com/"
https://atlasteaclub.com/

[2021-10-11 04:04] GorgonFreeman opened #215 "UpdateItem with quantity undefined does not leave quantity as-is"
Hey! I'm John from Createur and I'm using [updateItem](https://cartjs.org/pages/reference#core-api-update-item) as part of a function to ensure line item properties are attached to all cart items before the checkout.

As a result, all we're trying to do is add or change properties on the item. According to the docs, leaving quantity as `undefined` would be good for this, and the items would be oth

[2021-11-17 23:43] nemoeric commented on #198
Hey @msev

Just realized this was also affecting some of our stores.
We use CartJS with Rivets.
And whenever a line item is updated, the front actually shows a cart in the root locale !

Here is my fix, works like a charm.

1. Declare routes in theme.liquid in a script markup
[code]

2. In Cart.min.js, find the functions declarations and simply use the variable above to ping the correct url.
For i

[2022-01-24 21:13] LRV opened #216 "Changes to cart.items results in unwanted class/functionality duplication"
I am modifying the markup created with rv-each-item="cart.items", adding a class and extra on click to one line item after event "cart.requestComplete" fires.  Which works fine, but as soon as I remove an item or add a new item from the cart page, that class and new onClick gets duplicated on the the new line item. I don't see why this would happen or the purpose for this, so it seems like a bug.

[2022-01-24 22:47] bstarr322 commented on #204
Yeah, this isn't working for me either.

[2022-02-02 10:09] naijacurrency opened #217 "New site for Waist Beads "Built With" Page: https://www.wisonline.com.ng/beads"
The implementation is just perfect for my setup. No need for a complicated database. The site is fully static and incredibly fast.

[2022-03-15 12:58] gautam-grazitti commented on #204
Hello,
yes, I'm also getting the same issue.
Is there any fix for this?

[2022-03-16 07:19] gautam-grazitti commented on #208
Hello @ominixamf, did you find any fix for this issue
Thanks!

[2022-06-10 17:57] razaimranwb opened #218 "New site for "Built With" Page: http://web.com"

[2022-08-07 23:57] chanhman commented on #209
I wonder if we can update the returned object to include the variant's current quantity. I know `{{ cart_item.variant.inventory_quantity}}` exists.

[2022-09-07 09:28] oknaus-huemor opened #219 "After coming back from checkout, json has the old data"
When we add product to cart and then go to checkout, if user hits back button,
json still shows old data and qty and items are not updated without the page refresh.

[2022-09-15 10:46] oknaus-huemor commented on #219
Ok, I fond the fix here:
https://github.com/discolabs/cartjs/issues/158

All good :)
CartJS rocks!

[2022-10-02 18:10] gextyy opened #220 "Hh"